:root {
	--page-header-bgColor: #3e4049;
	--page-header-bgColor-hover: rgb(63, 64, 73);
	--hex-363740: #363740;
	--hex-C5C7CD: #C5C7CD;
	--hex-f7f8fc: #f7f8fc;
	--hex-9FA2B4: #9FA2B4;
	--hex-252733: #252733;
	--hex-dee5f2: #dee5f2;
	--hex-888888: #888888;
	--hex-000000D9: #000000D9;
	--page-header-txtColor: #dde9f8;
	--page-header-headingColor: #7889a4;
	--page-header-width: 255px;
	--page-content-bgColor: #f0f1f6;
	--page-content-txtColor: #171616;
	/*--color-white: #fff;*/
	--primary-home-bg: #0B3556;
	/*--white: #fff;*/
	--black: #333;
	--blue: #00b9eb;
	--red: #ec1848;
	--admin-menu-link: #A4A6B3;
	--border-radius: 4px;
	--box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
	--switch-bgLightModeColor: #87cefa;
	--switch-sunColor: gold;
	--switch-moonColor: #f4f4f4;
	--switch-bgDarkModeColor: #1f1f27;
	/*--colr-e8edf6: #E8EDF6;*/
	--colr-e8edf6: rgb(217, 221, 227);
	--investor-addition-btn-bg-color: #59598E;
	/*--primary-btn-bg-color: #3C64B1;*/
	/*--primary-btn-color: #FFFFFF;*/
	--owner-form-placeholder-color: #6c757d;
	--success-btn-success-bg: rgb(122, 193, 66);
	/*--clr-white: rgb(255, 255, 255);*/
	/*--clr-black: rgb(0, 0, 0);*/
	--clr-light: #F5F8FF;
	/*--clr-light-gray-1: rgb(196, 195, 196);*/
	/*--clr-blue: rgb(63, 134, 255);*/
	/*--clr-light-blue: rgb(171, 202, 255);*/
	/*--required-star-color: rgb(255, 69, 0);*/
	--primary-accent: #3c64b1;
	--info-accent: #3178dd;
	--light-gray-shade-2: #e5e5e5;
	--market-place-btn-border: #C4C4C4;
	--light-gray-shade-1: #54595E;
	--light-gray-shade-3: #666666;
	--market-place-btn-border-hover: #989898;
	--custom-accepted-btn-color: #52C41A;
	--custom-processing-btn-color: #1890FF;
	--custom-rejected-btn-color: #F5222D;
	--custom-favorite-btn-color: #6573F9;
	--custom-archive-btn-color: #F0C68A;
	--bg-mktplc-navbar: #F3F6FA;
	--color-white: #FFF;
	--color-253: rgb(253, 253, 254);
	--investor-card-text-color: #141B2D;
	--text-violet: #665BEB;
	--investor-details-financial-icons: #9FACB8;
	--opportunity-accept-btn: #59598E;
	--marketplace-opportunity-bg: #F3F6FB;
	--investor-search-bg: #F5F8FE;
	--light-gray-1: #f4f6fb;
	--light-black-1: #373F41;
	/*--navbar-bg-1: #E8EDF6;*/
	/*--clr-white: #FFFFFF;*/
	--white-D-shade: #DEE5F3;
	--clr-light-gray-1: #737B7D;
	/*--success-btn-success-bg: rgb(122, 193, 66);*/
	/*--clr-white: rgb(255, 255, 255);*/
	/*--clr-black: rgb(0, 0, 0);*/
	/*--clr-light: #F5F8FF ;*/
	/*--clr-light-gray-1: rgb(196, 195, 196);*/
	--clr-blue: rgb(63, 134, 255);
	/*--clr-light-blue: rgb(171, 202, 255);*/
	/*--required-star-color: rgb(255, 69, 0);*/
	--white-F-shade: #F3F6FA;
}

/*background classes*/

.bg-admin-menu-link {
	background-color: var(--admin-menu-link);
}

.light-gray-shade-2 {
	background-color: var(--light-gray-shade-2) !important;
}

.bg-primary-custom {
	background-color: var(--primary-accent);
}

.bg-primary-marketplace,
.bg-investor-home-filter {
	background: var(--colr-e8edf6);
}

/*.bg-investor-home{*/
.bg-investor-home {
	background-color: var(--bg-mktplc-navbar);
}

.bg-opportunity-accept {
	background-color: var(--opportunity-accept-btn);
}

.bg-white-F-shade {
	background-color: var(--marketplace-opportunity-bg) !important;
}

.bg-white-F-shade-2 {
	background-color: var(--investor-search-bg) !important;
}

.bg-3e4049 {
	background: var(--page-header-bgColor);
}

.bg-363740 {
	background: var(--hex-363740);
}

.bg-f7f8fc {
	background-color: var(--hex-f7f8fc);
}

.bg-888888 {
	background-color: var(--hex-888888);
}

.bg-dee5f2 {
	background-color: var(--hex-dee5f2);
}

.bg-000000D9 {
	background-color: var(--hex-000000D9);
}

.bg-color-253 {
	background-color: var(--color-253);
}

/*background classes ends*/

/*text color classes*/


.text-C5C7CD {
	color: var(--hex-C5C7CD);
}

.text-f7f8fc {
	color: var(--hex-f7f8fc);
}

.text-admin-menu-link {
	color: var(--admin-menu-link);
}

.text-hex-000000D9 {
	color: var(--hex-000000D9) !important;
}

.text-hex-252733 {
	color: var(--hex-252733) !important;
}

.text-hex-9FA2B4 {
	color: var(--hex-9FA2B4) !important;
}

.text-hex-888888 {
	color: var(--hex-888888);
}

.text-clr-light {
	color: var(--clr-light);
}

.investor-card-text-color {
	color: var(--investor-card-text-color) !important;
}

.investor-save-text-color {
	color: var(--light-gray-shade-1) !important;
}

.text-light-gray-shade-2 {
	color: var(--light-gray-shade-2) !important;
}

.light-gray-shade-3 {
	color: var(--light-gray-shade-3) !important;
}

.text-violet {
	color: var(--text-violet);
}

.text-light-gray-1 {
	color: var(--investor-details-financial-icons);
}

.color-custom-primary {
	color: var(--primary-accent);
}

.color-custom-info {
	color: var(--info-accent);
}

.text-success {
	color: rgb(93, 142, 18);
}

.text-primary {
	color: #1663F0;
}

.text-info {
	color: rgb(43, 160, 187);
}

.text-warning {
	color: rgb(185, 95, 23);
}

.text-danger {
	color: rgb(217, 13, 13);
}

.text-secondary {
	color: #5D6058;
}

/*text color classes ends*/

/*border classes ends*/

.border-custom {
	border: 1px solid var(--market-place-btn-border) !important;
}

.border-light-gray {
	border: 1px solid var(--market-place-btn-border);
}

.border-light-gray:hover {
	border: 2px solid var(--market-place-btn-border-hover);
}

/*border classes ends*/

/*button  classes*/
.btn-custom-submit,
.btn-primary-custom {
	background-color: var(--primary-accent) !important;
	color: var(--color-253) !important;
}

.btn-outline-custom-submit {
	background-color: transparent !important;
	color: var(--primary-accent) !important;
	border: 2px solid var(--primary-accent) !important;
}

.btn-custom-accepted {
	color: var(--custom-accepted-btn-color);
	border: 1px solid var(--custom-accepted-btn-color);
}



.btn-custom-processing {
	color: var(--custom-processing-btn-color);
	border: 1px solid var(--custom-processing-btn-color);
}

.btn-custom-rejected {
	color: var(--custom-rejected-btn-color);
	border: 1px solid var(--custom-rejected-btn-color);
}

.btn-custom-investor-favs,
.btn-custom-investor-chevron {
	background-color: var(--custom-favorite-btn-color) !important;
	color: var(--color-white) !important;
}

.admin-menu-link-active {
	background-color: var(--investor-addition-btn-bg-color) !important;
	color: var(--color-white) !important;
}

.btn-custom-favorite,
.navbar-link-active {
	color: var(--custom-favorite-btn-color) !important;
}

.btn-custom-archive {
	color: var(--custom-archive-btn-color) !important;

}

/*button  classes ends*/

/*Button classes*/
.fs-10 {
	font-size: 10px !important;
}

.fs-11 {
	font-size: 11px !important;
}

.fs-12 {
	font-size: 12px !important;
}

.fs-13 {
	font-size: 13px !important;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-15 {
	font-size: 15px !important;
}

.fs-16 {
	font-size: 16px !important;
}

.fs-18 {
	font-size: 18px !important;
}

.fs-19 {
	font-size: 19px !important;
}

.fs-20 {
	font-size: 22px !important;
}

.fs-22 {
	font-size: 22px !important;
}

.fs-24 {
	font-size: 24px !important;
}

.fs-29 {
	font-size: 29px !important;
}

.fs-30 {
	font-size: 30px !important;
}

.fs-32 {
	font-size: 32px !important;
}

.fs-36 {
	font-size: 36px !important;
}

.fs-40 {
	font-size: 40px !important;
}

.fs-44 {
	font-size: 44px !important;
}

/*Button classes ends*/

/*common general styles*/
html {
	scroll-behavior: smooth;
	scrollbar-width: none;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Inter' !important;
}

.container-fluid{
	max-width: 1440px;
	margin: 0px auto;
}

.filter-offcanvas{
	height: 100vh;
	max-height: 100%;
	width: 345px;
}

::-webkit-input-placeholder {
	font-size: 14px !important;
}

::-moz-placeholder {
	font-size: 14px !important;
}

:-ms-input-placeholder {
	font-size: 14px !important;
}

::-ms-input-placeholder {
	font-size: 14px !important;
}

::placeholder {
	font-size: 14px !important;
}

.notification-view-all-btn {
	font-size: 14px;
	color: #0E71FF;
	text-transform: capitalize;
}

.sns-left-menu-plus,
.sns-right-menu-plus {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	top: 90px;
	/*-webkit-text-stroke: 2px #aab0bb;*/
	z-index: +10;
}

.sns-left-menu-plus {
	left: 21px;
}

.sns-right-menu-plus {
	right: 21px
}

.navbar-light .navbar-toggler {
	color: var(--admin-menu-link);
	border-color: var(--admin-menu-link);
	border-width: 2px;
}

#notificationModal>.modal-dialog {}

#notificationModal>.modal-body {
	padding: 0px 5px !important;
}

.offcanvas {
	top: 0 !important;
}

/*common general styles ends*/

/*common utility classes*/

.hand-pointer {
	cursor: pointer;
}

.least-mobile-width {
	width: 100% !important;
	max-width: 350px !important;
}

.custom-overflow {
	overflow-y: auto !important;
	overflow-x: hidden !important;
	scrollbar-color: #AAE2EA #AAE2EA55;
	scrollbar-width: none !important;
}

.custom-overflow-scrollbar {
	overflow-y: auto;
	overflow-x: hidden !important;
	scrollbar-color: #AAE2EA #AAE2EA55;
	scrollbar-width: thin !important;
}


.custom-top-end-absolute {
	top: 10px;
	right: 10px;
}

.custom-bottom-end-absolute {
	bottom: 10px;
	right: 10px;
}

.fw-500 {
	font-weight: 500 !important;
}

.fw-600 {
	font-weight: 600 !important;
}

.ht-50px {
	height: 50px;
}

.ht-70px {
	height: 70px;
}

.ht-80px {
	height: 80px;
}

.ht-100px {
	height: 100px;
}

.mht-50 {
	min-height: 50px;
}

.mht-70 {
	min-height: 70px;
}

/*Navbar style*/
.mht-88 {
	min-height: 88px;
}
/*================*/

.mht-100 {
	min-height: 100px;
}


.vh-100 {
	height: 100vh;
}

.vh-md-100 {
	height: 100vh;
}

.min-vh-100 {
	min-height: 100vh;
}


.mt-10 {
	margin-top: 10px !important;
}

.mt-28 {
	margin-top: 28px !important;
}

.mt-30 {
	margin-top: 30px !important;
}
.mt-40 {
	margin-top: 40px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}

.mt-50 {
	margin-top: 50px !important;
}

.mt-60 {
	margin-top: 60px !important;
}

.mt-75 {
	margin-top: 75px !important;
}

.mt-85 {
	margin-top: 85px !important;
}

.mt-100 {
	margin-top: 100px !important;
}

.mt-830vw {
	margin-top: 13vh;
}

.mb-50px {
	margin-bottom: 50px !important;
}

.mb-100px {
	margin-bottom: 100px !important;
}

.mt-50px {
	margin-top: 50px !important;
}

.mt-100px {
	margin-top: 100px !important;
}

.ls-03 {
	letter-spacing: 0.3px;
}

.htv-100 {
	height: 100vh;
}


.ht-5p {
	height: 5% !important;
}

.ht-10p {
	height: 10% !important;
}

.ht-15p {
	height: 15% !important;
}

.ht-20p {
	height: 20% !important;
}

.ht-30p {
	height: 30% !important;
}

.ht-40p {
	height: 40% !important;
}

.ht-60p {
	height: 60% !important;
}

.ht-70p {
	height: 70% !important;
}

.ht-75p {
	height: 75% !important;
}

.ht-80p {
	height: 80% !important;
}

.ht-90p {
	height: 90% !important;
}

.w-5p {
	width: 5% !important;
}

.w-10p {
	width: 10% !important;
}

.w-15p {
	width: 15% !important;
}

.w-20p {
	width: 20% !important;
}

.w-30p {
	width: 30% !important;
}

.w-40p {
	width: 40% !important;
}

.w-60p {
	width: 60% !important;
}

.w-70p {
	width: 70% !important;
}

.w-75p {
	width: 75% !important;
}

.w-80p {
	width: 80% !important;
}

.w-90p {
	width: 90% !important;
}

/*common utility classes*/

/*Modified Bootstrap classes*/
.form-control-lg,
.form-select-lg {
	padding-top: 0.75rem !important;
	padding-bottom: .75rem !important;
	font-size: 14px !important;
}

.form-control:hover,
.form-control:focus {
	border-color: none;
	outline: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-left: 5px solid var(--primary-accent);
}

.tooltip-inner {
	font-size: 16px;
	background-color: var(--investor-addition-btn-bg-color);
	box-shadow: 0px 0px 4px black;
	opacity: 1 !important;
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
	border-right-color: #2f4fff !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
	border-left-color: #2f4fff !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
	border-bottom-color: #2f4fff !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
	border-top-color: #2f4fff !important;
}

/*Modified Bootstrap classes ends*/


/*Admin Styles*/

.nav-brand-logo {
	width: 221px;
	height: 63px;
}

.navigationTabContent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 90%;
	overflow: auto;
	padding: 10px 0px 40px;
}

.profile-side-menu {
	position: fixed;
	top: 14%;
	right: -200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	font-size: 12px;
	height: 90px;
	width: 126px;
	border: 1px solid #9995;
	padding: 10px 15px;
}

.profile-side-menu>a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 40px;
	width: 100%;
	/*padding: 10px;*/
	margin: 5px 0px;
	color: #26282C;
	text-transform: capitalize;
	font-size: 14px;
}

.profile-side-menu::before {
	content: "";
	position: absolute;
	top: -8%;
	left: 78%;
	margin-left: -5px;
	height: 12px;
	width: 12px;
	border-left: 1px solid rgb(198, 202, 209);
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	/* border-width: 10px; */
	/* border-style: solid; */
	/* border-color: transparent transparent rgb(202, 212, 230) transparent; */
	border-top: 1px solid rgb(198, 202, 209);
	background: #fff;
}

.toggle-profile-menu {
	-webkit-animation: profileMenuView 1s ease-in-out alternate forwards;
	animation: profileMenuView 1s ease-in-out alternate forwards;
}

@-webkit-keyframes profileMenuView {
	from {
		right: -200px;
	}

	to {
		right: 3.4%;
	}
}

@keyframes profileMenuView {
	from {
		right: -200px;
	}

	to {
		right: 3.4%;
	}
}

.profile-side-menu>a>.far {
	margin-right: 5px;
}

ul {
	list-style: none;
	padding: 0;
}

a,
button {
	color: inherit;
}

a {
	text-decoration: none;
}

button {
	background: none;
	cursor: pointer;
}

input {
	-webkit-appearance: none;
}



label {
	cursor: pointer;
}

button,
input {
	border: none;
}

i {
	display: block;
}

body {
	font: "Inter", sans-serif;
}



/* HEADER STYLES
	-------------------------------------------------- */



.admin-navbar {
	min-height: 65px;
}

.toggle-mob-menu {
	display: none;
	margin-left: 5px;
	padding: 4px;
	/*background: var(--color-white);*/
	border-radius: var(--border-radius);
}

.toggle-mob-menu i {
	fill: var(--black);
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	-o-transition: transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}


.admin-menu-link {
	/*display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  width: 100%;
	  height: 100%;
	  padding: 12px 15px;*/
}

.settings-list-item {
	/*border-top: 2px solid rgb(64, 65, 74);*/
}

/*.admin-menu li:last-child{

	  height: 56px;
	  color: var(--admin-menu-link);
	  font-family: 'Inter', sans-serif;
	  font-style: normal;
	  font-weight: normal;
	  font-size: 16px;
	  line-height: 20px;
	  letter-spacing: 0.2px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  margin-top: auto;
	  margin-bottom: 20px;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	}*/

.admin-menu .switcher {
	display: inline-block;
	width: auto;
}

.admin-menu .menu-heading h3 {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 12px;
	margin-top: 12px;
	color: var(--page-header-headingColor);
}

.admin-menu i {
	width: 20px;
	height: 20px;
	fill: var(--page-header-txtColor);
	margin-right: 10px;
}

.admin-menu a,
.admin-menu button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;

}

.admin-menu a:hover,
.admin-menu a:focus,
.admin-menu a.admin-link-active {
	background: var(--page-header-bgColor-hover);
	border-left: 3px solid #DDE2FF;
	color: #DDE2FF;
	outline: none;
}

.admin-menu a:hover i,
.admin-menu a:focus i,
.admin-menu button:hover i,
.admin-menu button:focus i {
	fill: var(--blue);
}

.search-and-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0px 10px;
	height: 100px;
}


.page-heading {
	width: 20%;
	max-width: 350px;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.3px;
	color: #252733;
	text-transform: capitalize;
}



.admin-search-form>input[type="search"]:focus {
	border: none;
	outline: none;
}

.admin-profile {}

.profile-drpdown {
	top: 110%
}

.profile-drpdown::before {
	content: "";
	position: absolute;
	top: -8%;
	left: 80%;
	margin-left: -5px;
	height: 15px;
	width: 15px;
	border-left: 1px solid #c6cad1;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	border-top: 1px solid #c6cad1;
	background: #fff
}

.notifications-div {
	/*	  position: relative;
	  cursor: pointer;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;*/
}

.notifications-div>.fas {
	font-size: 20px;
	color: #C5C7CD;
}

.bg-primary-marketplace .notifications-div > .fas{
	color: var(--admin-menu-link) !important;
}

.notification-count {}

.notification-count>span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
}


.modal {
	padding-top: 60px;
}


.modal-backdrop {
	z-index: 0;
	background-color: #0000005c;
}

.modal-dialog {}

#notificationTabContent {
	/*height: 92vh;*/
}

#notificationTabContent .tab-pane {
	/*height: 90%;*/
}

.navigationTablinks.active {
	border-bottom: 1px solid var(--primary-accent);
}

.notification-modal-content {
	background-color: #fefefe;
	border: 1px solid #888;
	width: 100%;
	max-width: 350px;
}

.notificationclose {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.notificationclose:hover,
.notificationclose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.navigationTabContent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	/*height: 90%;*/
	overflow: auto;
	padding: 10px 0px 40px;

}

.notifications-main-container {

}

.notification-footer-div {
	height: 10%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 5px 10px;
}

.notification-view-all-btn {
	/*width: 50px;*/
	/*height: 22px;*/
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #0E71FF;
	text-transform: capitalize;
	margin-left: auto;
	margin-right: auto;
}

.notification-owner-container-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	background: #FFFFFF;
	color: rgba(0, 0, 0, 0.85);
	-webkit-box-shadow: inset 0px -1px 0px #F0F0F0;
	box-shadow: inset 0px -1px 0px #F0F0F0;
	margin: 10px 0px;
}

.notification-owner-left-div {
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	height: 100%;
}

.notification-owner-left-div>* {
	margin: 5px 0px;
}

.notification-owner-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.notification-owner-info>img {
	width: 32px;
	height: 32px;
}

.notification-owner-info>span {
	width: 155px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.85);
	margin-left: 16px;
}

.notification-owner-description {
	width: 90%;
	height: 66px;
	left: 0px;
	top: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.85);
}


.notification-owner-right-div {
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.notification-investor-container-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 12px 24px 12px 0px;
	width: 100%;
	height: 96px;
	background: #FFFFFF;
	-webkit-box-shadow: inset 0px -1px 0px #F0F0F0;
	box-shadow: inset 0px -1px 0px #F0F0F0;
	color: rgba(0, 0, 0, 0.85);
}

.notification-investor-left-div {
	width: 10%;
}

.notification-investor-right-div {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.notification-investor-title {
	height: 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.85);
}

.notification-investor-description {
	height: 44px;
	width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.45);
}

.modal-body {
	padding: 0px 1rem !important;
}


.admin-greetings-div {
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.greeting {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.2px;
	color: #252733;
}

.admin-greetings-div>img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid rgb(191, 191, 191);
	padding: 3px;
	margin-left: 14px;
}


.tab button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.85);
	text-transform: capitalize;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	color: #1890FF;
	border-bottom: 1px solid #1890FF;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.notification-modal-content>.tab {
	border-bottom: 1px solid #0000001A;
}

.notification-modal-content .tabcontent {
	border: none;
}

.right-sidepanel-accordion>img {
	margin: 0px 10px 0px 0px;
}

.right-sidepanel-accordion>span {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: rgba(0, 0, 0, 0.87);
	text-transform: capitalize;
}

.right-sidepanel-accodion-panel {
	display: none;
	min-height: 50px;
	max-height: 720px;
	overflow: auto;
	-webkit-transition: max-height 0.2s ease-out;
	-o-transition: max-height 0.2s ease-out;
	transition: max-height 0.2s ease-out;
	/*padding: 18px;*/
}

.accordion-content-add-form-div {
	padding: 18px 18px;
	/*border: 1px solid #0003;*/
}

.content-number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 40px;
	height: 40px;
	background-color: #01A249;
	border-radius: 50%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF !important;
	margin-right: 16px;
}

.add-link-title {
	height: auto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.15px;
	margin: 16px 0px 16px 16px;
}

.add-link-side-num {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #FB662A;
	color: #ffffff;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.content-add-link-form {
	width: 90%;
	padding-left: 84px;
}

.content_link_input {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 16px;
	background: rgba(33, 33, 33, 0.08);
	border-radius: 4px 4px 0px 0px;
	margin: 10px 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: rgba(0, 0, 0, 0.87);
	border: 1px solid darkgray;
}

.submit-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 4px;
}

.content-add-submit-btn {
	width: 86px;
	height: 36px;
	background: #01A249;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: auto;
}

.content-add-submit-btn-square {
	width: 30px;
	height: 30px;
	background: #01A249;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: auto;
	display: inline-flex;
}

.btn-admin-content-addition {
	top: 80px;
	right: 15%;
}

/* MQ RULES
	-------------------------------------------------- */
@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1220px) {}
@media screen and (max-width: 1200px) {
	.add-investor-btn {
		right: 7%;
		top: 12.3%;
	}
}

@media screen and (max-width: 1060px) {}

@media screen and (max-width: 992px) {
	.mt-lg-50 {
		margin-top: 50px;
	}

	.mt-lg-60 {
		margin-top: 60px;
	}

	.btn-admin-content-addition {
		right: 12%;
	}

	.custom-owner-form-group {
		width: 100%;
	}

	#sidebar-wrapper {
		/*margin-left: 0;*/
		display: none;
	}

	.add-investor-btn {
		right: 7%;
		top: 10.3%;
	}

	
}

@media screen and (max-width: 940px) {}

@media screen and (max-width: 868px) {
	#uploadStatus{

		max-width: 100%;
	}

	.statusbar {
		flex-direction: column;
	}
}
@media screen and (max-width: 840px) {}

@media screen and (max-width: 767px) {
	/*  html{
	    font-size: 50%;
	  }*/


	.vh-md-100 {
		height: auto;
	}

	.mt-md-50 {
		margin-top: 50px;
	}

	.mt-md-60 {
		margin-top: 60px;
	}

	.page-header,
	.page-content {
		position: static;
		width: 100%;
	}

		{
		padding: 10px;
	}

	/* nav {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	  }*/

	.logo {
		margin: 0;
	}

	.logo i {
		width: 83px;
		height: 35px;
	}

	.toggle-mob-menu {
		display: block;
	}

	.admin-menu {
		position: absolute;
		left: 0;
		top: 8%;
		margin-top: 0;
		z-index: 2;
		border-radius: var(--border-radius);
		background: var(--page-header-bgColor);
		visibility: hidden;
		opacity: 0;
		-webkit-transform: scale(0.95);
		-ms-transform: scale(0.95);
		transform: scale(0.95);
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		width: 100%;
	}

	/*
	  .admin-menu li:nth-last-child(2) {
	    margin-bottom: 12px;
	  }
	*/

	/*  .settings-list-item:last-of-type{
	    border: 1px solid #DFE0EB;
	  }
*/
	.admin-menu li:last-child button,
	.search-and-user .admin-profile .greeting {
		display: none;
	}

	.page-content {
		min-height: 0;
		padding: 10px;
	}

	.page-content .grid {
		grid-gap: 10px;
	}

	.search-and-user {
		position: static;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0;
		grid-column-gap: 5px;
		width: 100%;
		border-radius: var(--border-radius);
		background: transparent;
	}


	.search-and-user [type="search"] {
		font-size: 16px;
		height: 35px;
	}

	.search-and-user form i {
		width: 18px;
		height: 18px;
	}

	.search-and-user .admin-profile i {
		fill: var(--color-white);
	}
}

@media screen and (max-width: 650px) {
	.btn-admin-content-addition {
		right: 15%;
	}
}

@media screen and (max-width: 555px) {}

@media screen and (max-width: 495px) {
	.btn-admin-content-addition {
		right: 31%;
	}
}

@media screen and (max-width: 450px) {
	.tab {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}


@media screen and (max-width: 400px) {
	.page-content .grid>article {
		grid-column: 1 / -1;
	}

	.page-heading {
		font-size: 20px;
	}

	.admin-profile {
		width: 35%;
		-webkit-box-pack: flex-end;
		-ms-flex-pack: flex-end;
		justify-content: flex-end;
	}

	.admin-profile>* {
		margin: 0px 5px;
	}

	.notifications-div>.fas {
		font-size: 16px;
	}

	.notification-count>span {
		font-size: 10px;
	}

	.notification-count {
		width: 24px;
		height: 15px;
	}

	.search-and-user [type="search"] {
		font-size: 14px;
	}

}


.mob-menu-opened .toggle-mob-menu i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.mob-menu-opened .admin-menu {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.collapsed {
		width: 40px;
	}

	.collapsed .admin-menu li>* {
		padding: 10px;
	}

	.collapsed .logo,
	.collapsed .admin-menu span,
	.collapsed .admin-menu .menu-heading {
		display: none;
	}

	.collapsed .admin-menu i {
		margin-right: 0;
	}

	.collapsed .collapse-btn i {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	.collapsed .page-content {
		left: 40px;
		width: calc(100% - 40px);
	}
}

.page-footer {
	font-size: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-top: 10px;
}

.page-footer a {
	margin-left: 4px;
}

/*MARKET PLACE PAGE STYLES*/

.market-place-navbar {
	background-color: var(--market-place-navbar-bg);
}

.mktplc-pills-custom-overflow {
	height: 65vh;
	overflow-y: auto;
	overflow-x: hidden !important;
	scrollbar-color: #AAE2EA #AAE2EA55;
	scrollbar-width: none;
}

.custom-overflow,.mktplc-pills-custom-overflow:hover{
	scrollbar-width: thin;

}


.mktplace-investors-cards-pane {
	height: 75vh;
}

/*MARKET PLACE PAGE STYLES ENDS*/

/*Investor Addition*/
.add-investor-btn {

	background-color: var(--investor-addition-btn-bg-color);
	color: var(--color-white);
	z-index: +9;
}

@media screen and (min-width: 1200px) {

	.add-investor-btn {
		right: 16%;
		top: 13.5%;
	}
}
@media screen and (max-width: 1199px) {

	.add-investor-btn {
		right: 7%;
		top: 12.3%;
	}
}

#investorAdditionModal {
	padding-top: 0px;
}

#investorAdditionModal .modal-body {
	overflow: auto;
}



.btn-custom-owner-submit {
	background-color: var(--primary-btn-bg-color);
	color: var(--color-white);
}

.btn-custom-owner-success {
	background-color: var(--success-btn-success-bg);
	color: var(--primary-btn-color);
}



/* Upload Area */
.upload-area {
	width: 100%;
	max-width: 25rem;
	background-color: var(--clr-white);
	margin: 0.625rem;
}

.upload-area--open {
	/* Slid Down Animation */
	-webkit-animation: slidDown 500ms ease-in-out;
	animation: slidDown 500ms ease-in-out;
}

@-webkit-keyframes slidDown {
	from {
		height: 28.125rem;
		/* 450px */
	}

	to {
		height: 35rem;
		/* 560px */
	}
}

@keyframes slidDown {
	from {
		height: 28.125rem;
		/* 450px */
	}

	to {
		height: 35rem;
		/* 560px */
	}
}

/* Header */
.upload-area__header {}

.upload-area__title {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 0.3125rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.upload-area__paragraph {
	font-size: 16px;
	color: var(--clr-light-gray-1);
	margin-top: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.upload-area__tooltip {
	position: relative;
	color: var(--clr-light-gray-1);
	cursor: pointer;
	-webkit-transition: color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out;
	transition: color 300ms ease-in-out;
}

.upload-area__tooltip:hover {
	color: var(--clr-blue);
}

.upload-area__tooltip-data {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -125%);
	-ms-transform: translate(-50%, -125%);
	transform: translate(-50%, -125%);
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	background-color: var(--clr-white);
	color: var(--clr-blue);
	border: 1px solid var(--clr-light-blue);
	padding: 0.625rem 1.25rem;
	font-weight: 500;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: none 300ms ease-in-out;
	-o-transition: none 300ms ease-in-out;
	transition: none 300ms ease-in-out;
	-webkit-transition-property: opacity, visibility;
	-o-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
}

.upload-area__tooltip:hover .upload-area__tooltip-data {
	opacity: 1;
	visibility: visible;
}

/* Drop Zoon */
.upload-area__drop-zoon {
	position: relative;
	height: 11.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border: 2px dashed var(--clr-light-gray-1);
	/* border-radius: 15px; */
	margin-top: 0.188rem;
	cursor: pointer;
	-webkit-transition: border-color 300ms ease-in-out;
	-o-transition: border-color 300ms ease-in-out;
	transition: border-color 300ms ease-in-out;
	width: 201px;
	padding: 10px;
}

.upload-area__drop-zoon:hover {
	border-color: var(--clr-blue);
}

.required-star {
	margin-right: 5px;
	color: var(--required-star-color);
}

.drop-zoon__icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 3.75rem;
	color: var(--clr-blue);
	-webkit-transition: opacity 300ms ease-in-out;
	-o-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

.drop-zoon__paragraph {
	font-size: 0.9375rem;
	color: var(--clr-light-gray-1);
	margin: 0;
	margin-top: 0.625rem;
	-webkit-transition: opacity 300ms ease-in-out;
	-o-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
	text-align: center;
}

.drop-zoon__paragraph>span {
	width: 100%;
}

.img-upload-warning {
	width: 100%;
	/*height: 40px;*/
	font-size: 12px;
	line-height: 20px;
	color: #828A96;

}

.browse-image-custom-btn {
	color: #30588C;
}

.drop-zoon:hover .drop-zoon__icon,
.drop-zoon:hover .drop-zoon__paragraph {
	opacity: 0.7;
}

.drop-zoon__loading-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	color: var(--clr-light-blue);
	z-index: 10;
}

.drop-zoon__preview-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	padding: 0.3125rem;
	border-radius: 10px;
	display: none;
	z-index: 1000;
	-webkit-transition: opacity 300ms ease-in-out;
	-o-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__preview-image {
	opacity: 0.8;
}

.drop-zoon__file-input {
	display: none;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--over {
	border-color: var(--clr-blue);
}

.drop-zoon--over .drop-zoon__icon,
.drop-zoon--over .drop-zoon__paragraph {
	opacity: 0.7;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--Uploaded {}

.drop-zoon--Uploaded .drop-zoon__icon,
.drop-zoon--Uploaded .drop-zoon__paragraph {
	display: none;
}

/* File Details Area */
.upload-area__file-details {
	height: 0;
	visibility: hidden;
	opacity: 0;
	text-align: left;
	-webkit-transition: none 500ms ease-in-out;
	-o-transition: none 500ms ease-in-out;
	transition: none 500ms ease-in-out;
	-webkit-transition-property: opacity, visibility;
	-o-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	-webkit-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
}

/* (duploaded-file--open) Modifier Class */
.file-details--open {
	height: auto;
	visibility: visible;
	opacity: 1;
}

.file-details__title {
	font-size: 1.125rem;
	font-weight: 500;
	color: var(--clr-light-gray-1);
}

/* Uploaded File */
.uploaded-file {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.625rem 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: none 500ms ease-in-out;
	-o-transition: none 500ms ease-in-out;
	transition: none 500ms ease-in-out;
	-webkit-transition-property: visibility, opacity;
	-o-transition-property: visibility, opacity;
	transition-property: visibility, opacity;
}

/* (duploaded-file--open) Modifier Class */
.uploaded-file--open {
	visibility: visible;
	opacity: 1;
}

.uploaded-file__icon-container {
	position: relative;
	margin-right: 0.3125rem;
}

.uploaded-file__icon {
	font-size: 3.4375rem;
	color: var(--clr-blue);
}

.uploaded-file__icon-text {
	position: absolute;
	top: 1.5625rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 0.9375rem;
	font-weight: 500;
	color: var(--clr-white);
}

.uploaded-file__info {
	position: relative;
	top: -0.3125rem;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.uploaded-file__info::before,
.uploaded-file__info::after {
	content: '';
	position: absolute;
	bottom: -0.9375rem;
	width: 0;
	height: 0.5rem;
	background-color: #ebf2ff;
	border-radius: 0.625rem;
}

.uploaded-file__info::before {
	width: 100%;
}

.uploaded-file__info::after {
	width: 100%;
	background-color: var(--clr-blue);
}

/* Progress Animation */
.uploaded-file__info--active::after {
	-webkit-animation: progressMove 800ms ease-in-out;
	animation: progressMove 800ms ease-in-out;
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}

@-webkit-keyframes progressMove {
	from {
		width: 0%;
		background-color: transparent;
	}

	to {
		width: 100%;
		background-color: var(--clr-blue);
	}
}

@keyframes progressMove {
	from {
		width: 0%;
		background-color: transparent;
	}

	to {
		width: 100%;
		background-color: var(--clr-blue);
	}
}


.uploaded-file__name {
	width: 100%;
	max-width: 6.25rem;
	/* 100px */
	display: inline-block;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.uploaded-file__counter {
	font-size: 1rem;
	color: var(--clr-light-gray-1);
}

@media screen and (max-width:857px) {
	.header {
		height: 100vh;
	}
}

/*Investor Addition Ends*/

/*Admin Styles Ends*/



/* File Upload starts*/
.selectBtn {
	border: solid 1px #999;
	border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
}

#drop_file_zone {
	/* background-color: #EEE; */
	border: #999 2px dashed;
	width: 290px;
	height: 200px;
	padding: 4% 8px;
	font-size: 18px;
	/* margin-left: 25%; */
}

#drag_upload_file {
	width: 50%;
	margin: 0 auto;
}

#drag_upload_file p {
	text-align: center;
}

#drag_upload_file #selectfile {
	display: none;
}


#dragandrophandler {
	border: 2px dotted #0B85A1;
	width: 400px;
	color: #92AAB0;
	text-align: left;
	vertical-align: middle;
	padding: 10px 10px 10 10px;
	margin-bottom: 10px;
	font-size: 200%;
}

.progressBar {
	width: 100%;
	/*flex-grow: 1;*/
	height: 22px;
	/*border: 1px solid #ddd;*/
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 10px 5px 5px;
	vertical-align: top;
}

.progressBar div {
	height: 100%;
	color: #fff;
	text-align: center;
	line-height: 22px;
	/* same as #progressBar height if we want text middle aligned */
	width: 0px;
	background-color: #0ba1b5;
	border-radius: 3px;
}

.progressbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-evenly;
	counter-reset: step;
	margin: 1rem 0;
	padding-bottom: 1rem;
	width: 100%;
	border-bottom: 1px solid var(--navbar-bg-1);

}

.progressbar::before,
.progress {
	content: "";
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 2px;
	width: 0%;
	background-color: #dcdcdc;
	z-index: 1
}

.progress {
	background: rgb(97, 188, 252);
	width: 0%;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s
}

.progress-step {
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #dcdcdc;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 1;
	position: relative;
}

.progress-step::before {
	counter-increment: step;
	content: counter(step)
}

.progress-step::after {
	content: attr(data-title);
	position: absolute;
	/* top: calc(100% + 0.5rem); */
	font-size: 16px;
	color: #666;
	left: 113%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	/*background: white;*/
	min-width: 150px;
	height: 20px;
	/* justify-content: center; */
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 5px;
}

.progress-step-active {
	color: #1890FF !important;
	background: transparent !important;
	border: 1px solid #1890FF;
}

.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #7ac142;
	fill: none;
	-webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #fff;
	stroke-miterlimit: 10;
	margin: 10% auto;
	-webkit-box-shadow: inset 0px 0px 0px #7ac142;
	box-shadow: inset 0px 0px 0px #7ac142;
	-webkit-animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	-webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

.form {}

.step-forms {
	height: calc(100vh - 190px);
	display: none;
	-webkit-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;
	-webkit-animation: animate 1s;
	animation: animate 1s;
}

.step-forms-active {
	display: block;
}

.group-inputs {
	margin: 1rem 0;
}

.progress-step-check {
	position: relative;
	color: #1890FF !important;
	background: transparent !important;
	border: 1px solid #1890FF;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}

.progress-step-check::before {
	position: absolute;
	content: '\2713';
	/* width: 100%; */
	/* height: 100%; */
	/* top: 8px; */
	/* left: 8px; */
	font-size: 16px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@-webkit-keyframes animate {
	from {
		-webkit-transform: scale(1, 0);
		transform: scale(1, 0);
		opacity: 0
	}

	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1
	}
}

@keyframes animate {
	from {
		-webkit-transform: scale(1, 0);
		transform: scale(1, 0);
		opacity: 0
	}

	to {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 1
	}
}

.custom-owner-form-group {
	width: 70%;
}

#uploadStatus{
	max-width: 600px;
}

.statusbar {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #A9CCD1;
	min-height: 25px;
	padding: 10px 10px 0px 10px;
	vertical-align: top;
}

.statusbar:nth-child(odd) {
	background: #EBEFF0;
}

.filename {
	display: inline-block;
	vertical-align: top;
	width: 250px;
}

.filesize {
	display: inline-block;
	vertical-align: top;
	color: #30693D;
	width: 230px;
	margin-left: 10px;
	margin-right: 5px;
}

.abort {
	background-color: #A8352F;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	padding: 4px 15px;
	cursor: pointer;
	vertical-align: top
}

/* File Upload ends*/


/*Market Place Starts*/

.custom-home-page-notifications .tablinks.active {
	color: #212121 !important;
	border-bottom: 2px solid #5B5FC7 !important;
}

.mktplc-nav-link:hover,
a.mktplc-nav-link.active {
	background-color: var(--opportunity-accept-btn) !important;
	color: #FFFFFF !important;
	border-radius: 0px !important;
}

.oOwner-pill-link:hover,
a.oOwner-pill-link.active,
a.oOwner-pill-link.active>span {
	/*background-color: var(--opportunity-accept-btn) !important;*/
	color: var(--primary-accent) !important;
	border-radius: 0px !important;
}

.oOwner-pill-link:hover,
a.oOwner-pill-link.active {
	border-bottom: 1px solid var(--primary-accent);
}

.pill-content-item {
	min-height: 333px;
	margin: 10px 0px;
}

.oPill-content-top-div {
	min-height: 260px;
}

.oPill-content-bottom-div {
	min-height: 73px;
}


.notifications-div {
	position: relative;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


.notification-count {
	width: 24px;
	height: 20px;
	border-radius: 4px;
	background: #FF4D4F;
	position: absolute;
	top: -10px;
	right: -5px;
	padding: 10px 15px;
}

.notifications-div.dropdown>.notification-count {
	width: 24px;
	height: 20px;
	border-radius: 4px;
	background: #FF4D4F;
	position: absolute;
	top: -0px;
	right: -10px;
}

.notifications-div.dropdown>.dropdown-menu {
	width: 350px !important;
}

.notification-count>span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	color: #FFFFFF;
}


.modal {
	display: none;
	position: fixed;
	z-index: +99999 !important;
	/*padding-top: 70px;*/
	left: 0;
	top: 0;
	width: 100%;
	height: 99.5vh;
	/*background-color: rgb(0,0,0);*/
	/*background-color: rgba(0,0,0,0.4);*/
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.modal-backdrop {
	z-index: 0;
}

.notification-modal-content {
	background-color: #fefefe;
	border: 1px solid #888;
	width: 100%;
	max-width: 350px;
	margin-right: 15px;
	padding: 0px 10px;
}

.notificationclose {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.notificationclose:hover,
.notificationclose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.navigationTabContent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 95%;
	overflow: auto;
	padding: 10px 0px 40px;

}

.notifications-main-container {
	height: 90%;
	overflow-y: auto;
	scrollbar-color: #AAE2EA #AAE2EA55;
	scrollbar-width: none;
}

.notification-footer-div {
	height: 10%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 5px 10px;
}

.notification-view-all-btn {
	/* width: 50px; */
	/* height: 22px; */
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #0E71FF;
	text-transform: capitalize;
	padding: 15px;
}

.notification-owner-container-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	background: #FFFFFF;
	color: rgba(0, 0, 0, 0.85);
	-webkit-box-shadow: inset 0px -1px 0px #F0F0F0;
	box-shadow: inset 0px -1px 0px #F0F0F0;
	margin: 0px 0px;
}

.notification-owner-left-div {
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	height: 100%;
}

.notification-owner-left-div>* {
	margin: 5px 0px;
}

.notification-owner-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.notification-owner-info>img {
	width: 32px;
	height: 32px;
}

.notification-owner-info>span {
	width: 155px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.85);
	margin-left: 16px;
}

.notification-owner-description {
	width: 90%;
	height: 66px;
	left: 0px;
	top: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.85);
}


.notification-owner-right-div {
	width: 30%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.notification-investor-container-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 12px 24px 12px 0px;
	width: 100%;
	height: 96px;
	background: #FFFFFF;
	-webkit-box-shadow: inset 0px -1px 0px #F0F0F0;
	box-shadow: inset 0px -1px 0px #F0F0F0;
	color: rgba(0, 0, 0, 0.85);
}

.notification-investor-left-div {
	width: 10%;
}

.notification-investor-right-div {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.notification-investor-title {
	height: 24px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.85);
}

.notification-investor-description {
	height: 44px;
	width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.45);
}


.admin-greetings-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.greeting {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	letter-spacing: 0.2px;
	color: #252733;
}

.admin-greetings-div>img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid rgb(191, 191, 191);
	padding: 3px;
	margin-left: 14px;
}

.tab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	background-color: #ffffff;
}

.tab button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.85);
	text-transform: capitalize;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	color: #1890FF;
	border-bottom: 1px solid #1890FF;
}

.tabcontent {
	display: none;
	padding: 6px 0px;
	border: 1px solid #ccc;
	border-top: none;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.notification-modal-content>.tab {
	border-bottom: 1px solid #0000001A;
}

.notification-modal-content .tabcontent {
	border: none;
}

/*:root {
	  --main-bg-color: #009d63;
	  --main-text-color: #009d63;
	  --second-text-color: #bbbec5;
	  --second-bg-color: #c1efde;
	}

	.primary-text {
	  color: var(--main-text-color);
	}

	.second-text {
	  color: var(--second-text-color);
	}

	.primary-bg {
	  background-color: var(--main-bg-color);
	}

	.secondary-bg {
	  background-color: var(--second-bg-color);
	}*/

/*.navbar {
	  padding-top: 5px !important;
	  padding-bottom: 10.3px !important;
	}*/

.custom-navbrand-container {
	padding: 5px 2px;
}

.rounded-full {
	border-radius: 100%;
}

.investors-list-item {
	min-height: 314px;
}

#wrapper {
	overflow-x: hidden;
	/* background-image: linear-gradient( to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef ); */
	min-height: calc(100vh - 71px);
}

#sidebar-wrapper {
	/*height: 100vh;*/
	/*margin-left: -22rem;
	width: 350px;
	-webkit-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;*/

	/*padding: 5px 0px;*/
}

form.filter-form {
	height: 80vh;
	/*overflow-y: auto;*/
	overflow-x: hidden;
	transition: all 0.6s;
	scrollbar-width: none;
}
form.filter-form:hover {
	overflow-y: auto;
	scrollbar-color: #A4EBF5 #AAE2EA55;
	scrollbar-width: thin;

}

.offcanvas-body {}


/*.form-width-toggle{
	  width: 350px;
	}*/

#sidebar-wrapper .sidebar-heading {
	/*padding: 0.875rem 1.25rem;
	  font-size: 1.2rem;*/
}


.profile-drpdown {
	top: 110%;
}

.profile-drpdown::before {
	content: "";
	position: absolute;
	top: -9%;
	left: 80%;
	margin-left: -5px;
	height: 10px;
	width: 10px;
	border-left: 1px solid rgb(198, 202, 209);
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	/* border-width: 10px; */
	/* border-style: solid; */
	/* border-color: transparent transparent rgb(202, 212, 230) transparent; */
	border-top: 1px solid rgb(198, 202, 209);
	background: #fff;
}

/*#sidebar-wrapper .list-group {
	  width: 15rem;
	}*/

/*#page-content-wrapper {
	min-width: 100vw;
}
*/


#menu-toggle {
	cursor: pointer;
}

.list-group-item {
	border: none;
	/*padding: 20px 30px;*/
}

.list-group-item.active {
	background-color: transparent;
	color: var(--main-text-color);
	font-weight: bold;
	border: none;
}

.profile-settings-span {
	width: 25px;
	height: 25px;
	/*border: 1px solid rgb(191, 191, 191);*/
}

.dropdown {
	/*width: 75px;*/
}

.nav-brand-logo {
	width: 220px;
	height: 63px;
}

#basic-addon1 {
/*/*/*	/*background-color: transparent;*/
}

#slider-range {
	width: 100%;
}

.ui-widget-content {
	height: 2px;
	background-color: #efefef;
	border: none !important;
	position: relative;
}

.ui-widget-header {
	/*background-color: #91D5FF !important;*/
	position: absolute;
	height: 100%;
	border: none;
}
*/*/*/
.ui-dialog .ui-dialog-buttonpane {
	border-width: 0px 0 0 0;
}

.ui-dialog-titlebar{
	background: none;
}
.ui-slider-handle {
	top: -5px !important;
	height: 20px;
	width: 20px;
	background-color: #fff !important;
	border-radius: 10px;
	border-color: #91D5FF !important;
	position: absolute;
	outline: none;
	cursor: pointer !important;
}

.ui-dialog-buttonpane{
	height: fit-content;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
	width: 150px;
}

/*.ui-button.ui-corner-all.ui-widget {
	background: var(--primary-accent) !important;
}
*/
.ui-dialog .ui-dialog-buttonpane button {
	padding: 10px 15px !important;
	width: 100%;
	background: var(--primary-accent) !important;
	color: var(--color-white) !important;
}


/*.search {
	    position: relative;
	    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
	}

	.search input {
	    height: 60px;
	    text-indent: 25px;
	    border: 2px solid #d6d4d4
	}

	.search input:focus {
	    box-shadow: none;
	    border: 2px solid blue
	}

	.search .fa-search {
	    position: absolute;
	    top: 20px;
	    left: 16px
	}

	.search button {
	    position: absolute;
	    top: 5px;
	    right: 5px;
	    height: 50px;
	    width: 110px;
	    background: blue
	}*/


.custom-notification-dropdown {
	left: -43px !important;
}

@media (min-width: 992px) {


/*	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}*/

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}

}

@media (max-width: 451px) {
	.notification-modal-content {
		margin-right: 0px;
	}
}


/*Investor home page*/
.investor-home-opportunity-container {
	min-height: 273px;
}

.investor-img-custom-fluid,
.card-img-top {
	width: 100%;
	height: 273px;
}

.investor-view-tablinks.active,
.investor-view-tablinks:hover {
	color: var(--primary-accent) !important;
}

.investor-fav-opportunity {
	background-color: #0008;
}

.investor-fav-opportunity,
.investor-view-opportunity {
	z-index: +1;
}

.investor-home-opportunity-img-div::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.4;
}

/*Investor home page Ends*/

/* Opportunity Owner Home Page */
.opportunity-details {
	min-height: 333px;
}

.oOwner-investor-card {
	min-height: 141px;
}

.custom-home-page-notifications {
	padding-right: 100px;
}

.custom-home-page-notifications>.notification-modal-content {
	max-width: 350px;
}

.homepage-notification-container {
	min-height: 133px;
	width: 100%;
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	/*max-width: 1000px;*/
	position: relative;
	/*margin: auto;*/
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	/* position: absolute;
	    top: 50%;*/
	width: auto;
	/*padding: 16px;*/
	/*margin-top: -22px;*/
	color: var(--primary-accent);
	font-weight: bold;
	font-size: 18px;
	-webkit-transition: 0.6s ease;
	-o-transition: 0.6s ease;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}


/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
	from {
		opacity: .2
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .2
	}

	to {
		opacity: 1
	}
}

@media only screen and (max-width: 300px) {

	.prev,
	.next,
	.text {
		font-size: 11px
	}
}

/* Opportunity Owner Home Page Ends */

/* Investor details Page Starts */
.custom-list-dots::before {
	font-size: 18px;
	color: #000000;
	content: ". ";
	font-weight: bold;
	padding-bottom: 9px;
}

/* Investor details Page Ends */

/*SnS Admin Opportunity owner page*/
.custom-opportunity-img-fluid {
	width: 100%;
	height: 437px;
}

/*SnS Admin Opportunity owner page ends*/


.dropdown-menu::before {
	content: "";
	position: absolute;
	top: -8%;
	left: 80%;
	margin-left: -5px;
	height: 10px;
	width: 10px;
	border-left: 1px solid #c6cad1;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	border-top: 1px solid #c6cad1;
	background: #fff
}

.custom-dropdown-menu::before {
	top: -6%;
}

.accordion-button::after {
	margin-left: 0px !important;
}



@media screen and (max-width: 991px) {

	.slideshow-container,
	.pill-content-item,
	.oPill-content-top-div,
	.oPill-content-bottom-div {
		min-height: 10px;
	}

	.cw-10p,
	.cw-15p,
	.cw-17-5p,
	.cw-20p {
		display: inline-block !important;
		width: 49% !important;
	}

	.dropdown-menu::before {
		top: 24%;
		left: 19%;
	}

	.sns-right-menu-plus,
	.sns-left-menu-plus {
		top: 90px;
	}

}

@media screen and (max-width: 660px) {

	.sns-right-menu-plus,
	.sns-left-menu-plus {
		position: absolute;
		top: 90px;
	}
}

/*Market Place Ends*/



/* The sidepanel menu - burger menu*/
.rightSidepanel {
	height: 99%;
	width: 0;
	max-width: 35rem;
	position: fixed;
	z-index: +11;
	top: 8%;
	right: 0;
	overflow-x: hidden;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	border-radius: 0.1rem;
	background: #FFFFFF;
}

html {
	/* font-size: 62.5%; */
	font-family: Inter;
	scroll-behavior: smooth;
	scrollbar-color: #91AADA #00000055;
	scrollbar-width: none;
}


.fs-16 {
	font-size: 16px !important;
}

/* When you mouse over the navigation links, change their color */
.rightSidepanel a:hover {
	color: #928E8E;
}

.right-sidepanel-close-div a {
	color: tomato;

}

.right-sidepanel-close-div a:hover {
	color: #0066cc;
}

/* Style the tab */
.right-side-panel-tab {
	overflow: hidden;
	/*height: 11.6rem;*/
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-webkit-justify-content: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

/* Style the buttons inside the tab */
.right-side-panel-tab button {
	height: 150px;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	/*padding: 1.4rem 1.6rem;*/
	-webkit-transition: 0.3s;
	transition: 0.3s;
	font-size: 1.7rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Change background color of buttons on hover */
/* Style the tab content */
.rightPaneltabcontent {
	display: none;
	padding: 6px 0px;
	/* border: 0.1rem solid #ccc; */
	border-top: none;
}

.filter-svg {
	width: 50px;
	height: 50px;
	padding: 10px;
	/*border: 1px solid #313155;*/
	border-radius: 5px;
	margin-bottom: 10px;
	background: #FFFFFF;
}

.right-pane-icon-name {
	/* font-family: Poppins; */
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	color: rgb(0, 0, 0);
	text-transform: capitalize;
}

.rightPaneltablinks:hover>.filter-svg,
.rightPaneltablinks.active>.filter-svg {
	background: #ffffff;
	border: none;
	-webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(103%) contrast(101%);
	filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(103%) contrast(101%);
}

.rightPaneltablinks:hover>.right-pane-icon-name,
.rightPaneltablinks.active>.right-pane-icon-name {
	color: #000000;
}

.right-sidepanel-accordion {
	background-color: var(--color-white);
	color: #000;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 5px 0px;
}

.right-sidepanel-accordion>img {
	margin: 0rem 10px 0rem 0rem;
}

.right-sidepanel-accordion > span {
	/* font-family: 'SF Pro Display'; */
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgb(3, 3, 3);
	text-transform: capitalize;
}

.right-sidepanel-accodion-panel {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.2s ease-out;
	transition: max-height 0.2s ease-out;
}

.right-panel-user-room {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0.5rem 0rem;
	cursor: pointer;
}

.right-panel-user-icon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	/*font-family: Roboto;*/
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	/*line-height: 2.8rem;*/
	color: #FFFFFF;
	text-transform: uppercase;
	margin-right: 16px;
}

.right-panel-user-name {
	/*font-family: Roboto;*/
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	/*line-height: 1.4rem;*/
	color: #FFFFFF;
}

/* The sidepanel menu - burger menu - end*/

/*19-04-2022*/

.market-navbar{
	min-height: 88px;
}

/*20-04-2022*/

.sort-dropdown::before {
	top:-2% !important;
}

/*23-04-2022*/

.filter-btn-sm{
	top: -1%;
}

.marketplace-filter-div{

}

@media screen and (max-width: 1200px){
	.marketplace-filter-div{
		display: none;	
	}
}
@media screen and (max-width: 768px){
	.filter-btn-sm {
		top: -1%;
		left: 15% !important;
	}
}

/*27-04-2022*/

.admin-content-addition-accordion{
	border: 1px solid #efefef;
}
.admin-content-addition-accordion > span{
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-transform: capitalize;

}
.admin-content-addition-accordion > span:last-child {
	color: rgba(0, 0, 0, 0.87) !important;
}
.content-number{
	color: #efefef !important;
}

.common-body-overlay{
	height: 100vh;
	width: 100vw;
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: none;
	background-color: #0005;
}