

/*********** File Upload ******************************/
.selectBtn{
    border: solid 1px #999;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  #drop_file_zone {
  /* background-color: #EEE; */
  border: #999 2px dashed;
  width: 290px;
  height: 200px;
  padding: 4% 8px;
  font-size: 18px;
  /* margin-left: 25%; */
  }
  #drag_upload_file {
  width:50%;
  margin:0 auto;
  }
  #drag_upload_file p {
  text-align: center;
  }
  #drag_upload_file #selectfile {
  display: none;
  }
  
  
  #dragandrophandler
  {
  border:2px dotted #0B85A1;
  width:400px;
  color:#92AAB0;
  text-align:left;vertical-align:middle;
  padding:10px 10px 10 10px;
  margin-bottom:10px;
  font-size:200%;
  }
  .progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
  }
  
  .progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0ba1b5; border-radius: 3px; 
  }
  .statusbar
  {
    border-top:1px solid #A9CCD1;
    min-height:25px;
    padding:10px 10px 0px 10px;
    vertical-align:top;
  }
  .statusbar:nth-child(odd){
    background:#EBEFF0;
  }
  .filename
  {
  display:inline-block;
  vertical-align:top;
  width:250px;
  }
  .filesize
  {
  display:inline-block;
  vertical-align:top;
  color:#30693D;
  width:100px;
  margin-left:10px;
  margin-right:5px;
  }
  .abort{
    background-color:#A8352F;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:13px;font-weight:normal;
    padding:4px 15px;
    cursor:pointer;
    vertical-align:top
    }
  
  
    