/*common styles*/
  :root {
    --primary-bg: #0B3556;
  }

  html {
    font-size: 62.5%;
    font-family: Inter;
    scroll-behavior: smooth;
    scrollbar-color: #91AADA #00000055;
    scrollbar-width: none;
  }

  * {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
  }

  body {
    max-width: 100%;
    background-color: #5a6e7b;

  }

  @-webkit-keyframes show-body{
    from{opacity:0;}
    to{opacity:1;}
  }

  @keyframes show-body{
    from{opacity:0;}
    to{opacity:1;}
  }

  /* width */
  ::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem 0.1rem; 
    border-radius: 1rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B8CCF3; 
    border-radius: 1rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #91AADA; 
  }

  .fs-16{
    font-size: 16px !important;
  }

  .text-success{
    color: rgb(93, 142, 18);
  }
  .text-primary{
    color: #1663F0;
  }
  .text-info{
    color: rgb(43, 160, 187);
  }
  .text-warning{
    color: rgb(185, 95, 23);
  }
  .text-danger{
    color: rgb(217, 13, 13);
  }
  .text-secondary{
    color: #5D6058;
  }

  .container{
    width: 100%;
    max-width: 100%;
    padding: 0rem 5.4rem;
  }

  #lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: +99;
    display: none;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  #video-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0rem 1rem;
  }

  #video{
    width: 100%;
  }

  #close-btn {
    color: grey;
    font-size: 2.5rem;
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 2;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: transform .5s ease, color .5s ease;
    -webkit-transition: color .5s ease, -webkit-transform .5s ease;
    transition: color .5s ease, -webkit-transform .5s ease;
    transition: transform .5s ease, color .5s ease;
    transition: transform .5s ease, color .5s ease, -webkit-transform .5s ease;
  }

  #close-btn:hover {
    color: white;
    cursor: pointer;
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -webkit-transition: transform .5s ease, color .5s ease;
    -webkit-transition: color .5s ease, -webkit-transform .5s ease;
    transition: color .5s ease, -webkit-transform .5s ease;
    transition: transform .5s ease, color .5s ease;
    transition: transform .5s ease, color .5s ease, -webkit-transform .5s ease;
  }

  .reveal{
    position: relative;
    /*transform: translateY(15rem);*/
    -webkit-transform: translateY(15rem);
    -ms-transform: translateY(15rem);
    transform: translateY(15rem);
    opacity: 0;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
  }

  .reveal.active{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
  }

  .flex-row-center-center{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .top-btn{
    position: fixed;
    bottom: 7%;
    right: 1rem;
    z-index: +9;
    width: 5rem;
    height: 5rem;
    background: #6573F9;
    color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
  }
  .top-menu-btn{
    position: fixed;
    top: 9rem;
    right: 1rem;
    z-index: +10;
    width: 5rem;
    height: 5rem;
    background: #6573F9;
    color: #ffffff;
    border-radius: 2rem 2rem 2rem 0rem;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
  }

  /* The sidepanel menu */
  .rightSidepanel {
    height: 99%;
    width: 0; 
    max-width: 35rem;
    position: fixed; 
    z-index: +11;
    top: 0.5%;
    right: 0;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-radius: 0.1rem;
    background: #38385F;
  }

  /* The sidepanel links */

  /*.right-sidepanel-close-div{
      height: 100%;
      width: 3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
  }*/

  /* When you mouse over the navigation links, change their color */
  .rightSidepanel a:hover {
    color: #928E8E;
  }

  .right-sidepanel-close-div a{
    color: tomato;

  }
  .right-sidepanel-close-div a:hover{
    color: #0066cc;
  }
  /* Style the tab */
  .right-side-panel-tab {
    overflow: hidden;
    height: 11.6rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:space-evenly;
    -webkit-justify-content:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
  }

  /* Style the buttons inside the tab */
  .right-side-panel-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    /*padding: 1.4rem 1.6rem;*/
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 1.7rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }



  /* Change background color of buttons on hover */
  /* Style the tab content */
  .rightPaneltabcontent {
    display: none;
    padding: 0.6rem 1.2rem;
    /*border: 0.1rem solid #ccc;*/
    border-top: none;
  }

  .filter-svg{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border: 0.1rem solid #313155;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background: #313155;
  }

  .right-pane-icon-name{
    /*font-family: Poppins;*/
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
  }

  .rightPaneltablinks:hover > .filter-svg,.rightPaneltablinks.active > .filter-svg{
    background: transparent;
    border: none;
    -webkit-filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(103%) contrast(101%);
            filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(103%) contrast(101%);
  }

  .rightPaneltablinks:hover > .right-pane-icon-name,.rightPaneltablinks.active > .right-pane-icon-name{
    color: #ffffff;
  }

  .right-sidepanel-accordion {
    background-color: rgb(49, 49, 85);
    color: #ffffff;
    cursor: pointer;
    padding: 1.8rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .right-sidepanel-accordion > img{
    margin: 0rem 1rem 0rem 0rem;
  }
  .right-sidepanel-accordion > span{
    /*font-family: 'SF Pro Display';*/
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
  }
  .right-sidepanel-accodion-panel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }

  .right-panel-user-room{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.5rem 0rem;
    cursor: pointer;
  }
  .right-panel-user-icon{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 1.6rem;
  }

  .right-panel-user-name{
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #FFFFFF;
  }

  /*filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(239deg) brightness(103%) contrast(101%);*/

/*common styles end*/

/*navbar*/
  .navbar-container{
    height: 88px;
    background-color: var(--primary-bg);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: +9;
    padding: 0rem 5.4rem;
  }

  .navbar{
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 17.5rem 1fr;
        grid-template-columns: 17.5rem 1fr;
    border-bottom: 0.1rem solid #4C5AABCC;
  }

  .navbar-brand{
    width: 350px;
    height: 88px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

  }

  .navbar-brand img{
    width: 100%;
    height: 88px;
  }

  .navbar-navigation{
    padding: 0rem 3rem 0rem 20rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navgation-left-menu > *,.navgation-right-menu > *{
    opacity: 0;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation: "show-body" 0.3s ease-in-out 0.3s forwards; 
    -webkit-animation: "show-body" 0.3s ease-in-out 0.3s forwards; 
    -moz-animation: "show-body" 0.3s ease-in-out 0.3s forwards; 
    -o-animation: "show-body" 0.3s ease-in-out 0.3s forwards; 
    -ms-animation: "show-body" 0.3s ease-in-out 0.3s forwards; 
  }

  .nav-link{
    text-decoration: none;
    /*font-family: 'Proxima Nova Condensed Regular'*/;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    padding: 1rem 1rem;
    margin: 0rem 0.5rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    position: relative;
  }

  .nav-link::before{
    content: "";
    display: inline-block;
    border-top: 0.1rem solid transparent;
    border-left: 0.1rem solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .nav-link::after{
    content: "";
    display: inline-block;
    border-bottom: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  .nav-link:hover::before{
    width: 1rem;
    height: 1rem;
    border-top: 0.1rem solid #fff;
    border-left: 0.1rem solid #fff;
  }
  .nav-link:hover::after{
    width: 1rem;
    height: 1rem;
    border-bottom: 0.1rem solid #fff;
    border-right: 0.1rem solid #fff;
  }

  .nav-link-active{
    color: #07e2f9;
  }


  .nav-link.nav-link-active::before{
    width: 100%;
    height: 100%;
    border-top: 0.1rem solid #fff;
    border-left: 0.1rem solid #fff;
  }
  .nav-link.nav-link-active::after{
    width: 100%;
    height: 100%;
    border-bottom: 0.1rem solid #fff;
    border-right: 0.1rem solid #fff;
  }

  .icon {
    display: none;
    color: #fff;
  }

  /*.navgation-right-menu {
    margin-right: 3rem;
  }*/
/*navbar ends*/

/*header*/
  .header-container{
    height: 100vh;
    background: -webkit-linear-gradient(bottom, #011E35 -3.02%, #0C3555 91.29%);
    background: linear-gradient(360deg, #011E35 -3.02%, #0C3555 91.29%);
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }
  .header {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60.9% 39.1%;
        grid-template-columns: 60.9% 39.1%;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }

  .left-header-div,.right-header-div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*align-items: center;*/
  }

  .left-header-div > *{
    margin: 1rem 0rem;
    opacity: 0;
    animation: "show-body" 0.5s 0.3s  ease-in-out forwards;
    -webkit-animation: "show-body" 0.5s 0.3s  ease-in-out forwards;
    -moz-animation: "show-body" 0.5s 0.3s  ease-in-out forwards;
    -ms-animation: "show-body" 0.5s 0.3s  ease-in-out forwards;
    -o-animation: "show-body" 0.5s 0.3s  ease-in-out forwards;
  }

  .right-header-div > *{
    opacity: 0;
    animation: "show-body" 0.5s 0.5s  ease-in-out forwards;
    -webkit-animation: "show-body" 0.5s 0.5s  ease-in-out forwards;
    -moz-animation: "show-body" 0.5s 0.5s  ease-in-out forwards;
    -ms-animation: "show-body" 0.5s 0.5s  ease-in-out forwards;
    -o-animation: "show-body" 0.5s 0.5s  ease-in-out forwards;
  }

  .left-header-div > h1{
    width: 81rem;
    height: 15.6rem;
    max-width: 99%;
    /*font-family: Inter;*/
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7.8rem;
    color: #FFFFFF;
    /*text-shadow: 0.1rem 0.1rem 0.5rem #0A9DD7, 0.1rem 0.1rem 0.6rem #22BAF6;*/
  }
  .left-header-div > p:first-of-type{
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    letter-spacing: 0.2rem;
  }
  .left-header-div > p:last-of-type{
    /*font-family: Proxima Nova Condensed;*/
    width: 62.5rem;
    height: 6rem;
    max-width: 90%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #FFFFFF;
  }

  .header-btn{
    display: inline-block;
    width: 16.4rem;
    height: 5rem;
    padding: 1rem;
    /*margin: 2.9rem 1.5rem 0rem 0rem;*/
    text-transform: capitalize;
    font-size: 1.7rem;
    line-height: 2.4rem;
    /*font-family: 'Roboto';*/
    cursor: pointer;
    text-align: center;
  }

  .header-btn > span{
    margin: 0rem 0.5rem;
  }

  .join-now-btn {

    background: #3E50F7;
    border-radius: 0.4rem;
    color: #fff;
    margin-right: 1rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .join-now-btn:active{
    -webkit-transform: translateY(0.5rem);
        -ms-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  } 

  .join-now-btn:hover > .fas{
    
    -webkit-transform: scale(1.2) translateX(0.5rem);
    
        -ms-transform: scale(1.2) translateX(0.5rem);
    
            transform: scale(1.2) translateX(0.5rem);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition:transform 0.5s, -webkit-transform 0.5s;
    -webkit-transition:transform 0.5s;
    -moz-transition:transform 0.5s;
    -ms-transition:transform 0.5s;
    -o-transition:transform 0.5s;
  }

  .watch-video-btn {
    border: 0.2rem solid #3E50F7;
    box-sizing: border-box;
    border-radius: 0.4rem;
    background: transparent;
    color: white;
  }


  .watch-video-btn:hover > .fas{
    -webkit-transform: rotate(360deg) scale(1.5);
        -ms-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
    background: #0BE714;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    color: transparent;
    -webkit-transition: margin-right 0.5s, -webkit-transform 0.5s;
    transition: margin-right 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, margin-right 0.5s;
    transition: transform 0.5s, margin-right 0.5s, -webkit-transform 0.5s;
    -webkit-transition: transform 0.5s, margin-right 0.5s;
    -moz-transition: transform 0.5s, margin-right 0.5s;
    -ms-transition: transform 0.5s, margin-right 0.5s;
    -o-transition: transform 0.5s, margin-right 0.5s;
  }

  .watch-video-btn:active{
    transform: translateY(0.2rem);
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem);
  }

  .join-now-btn > .fas{
    background: #0BE714;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    color: transparent;
  }

  .watch-video-btn > .fas{
    color: #3E50F7;
  }

  .right-header-div{
    position: relative;
  }

  .right-header-subdivs{
    position: absolute;
    background-color: #6AEFB5;
    /*display: flex;*/
  }

  .right-header-subdiv-1 {
    width: 20.4rem;
    height: 20.4rem;
    right: 1rem;
    top: 0rem;
    background: #7E54FF;
    border-radius: 2rem 2rem 0rem 2rem;
    z-index: 3;
    display: -ms-grid;
    display: grid;

  }

  .right-header-subdiv-1 > div:first-of-type{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 1rem;
  }
  .right-header-subdiv-1 > div:first-of-type > p{
    height: 1.7rem;
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    margin: 0.3rem 0rem;
  }

  .right-header-subdiv-1 > div:first-of-type > p > span{
    margin-left: 0.5rem;
  }
  
  
  #chart_div {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  svg > g:last-child > g:last-child { pointer-events: none }
  div.google-visualization-tooltip { pointer-events: none }

  .right-header-subdiv-2 {
    width: 33.6rem;
    height: 26.1rem;
    right: 8.1rem;
    top: 12.5rem;
    background: #3E50F7;
    border-radius: 0rem 3rem 3rem 3rem;
    z-index: 2;
  }

  .right-header-subdiv-2-top{
    height: 8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.5rem;
  }

  .right-header-subdiv-2-top > p:first-of-type
  {
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #FFFFFF;
    margin-bottom: 0.3rem;
  }
  .right-header-subdiv-2-top > p:last-of-type {
    /* font-family: Proxima Nova Condensed; */
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #FFFFFF;
  }

  .right-header-subdiv-2-bottom{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 1.5rem;
  }

  .right-header-sd2-h3{
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.8rem;
    color: #FFFFFF;
  }
  .right-header-sd2-h4{
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #FFFFFF;
  }
  .right-header-sd2-subP{
    width: 28.7rem;
    height: 1rem;
    background: #6573F9;
    margin: 0.3rem 0rem;
  }

  .right-header-sd3-h4{
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #FFFFFF;
  }
  .right-header-sd3-subP{
    width: 17.506rem;
    height: 1.012rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    margin: 0.3rem 0rem;
  }


  .right-header-subdiv-3 {
    width: 21.857rem;
    height: 7.286rem;
    right: 1rem;
    top: 34.8rem;
    background: #FFFFFF;
    box-shadow: 0rem 1.5rem 3rem rgba(74, 114, 255, 0.05);
    border-radius: 0rem 0.6rem 0.6rem 0.6rem;
    z-index: 1;
    padding-left: 1.5rem;
  }
  .right-header-subdiv-4 {
    width: 3.036rem;
    height: 3.036rem;
    right: 0.7rem;
    top: 40rem;
    border-radius: 50%;
    z-index: 3;
  }
  .right-header-subdiv-4 > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
/*header ends*/

/*clients section*/

  .clients-container{
    height: 18rem;
    background: #FFFFFF;
  }

  .clients{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
/*clients section ends*/

/*investor section*/
  .investor-container{
    min-height: 68.7rem;
    background: #F4F7FC;
  }

  .investor{
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(68.7rem,100vh);
    align-content: center;    
  }

  .investor-left-div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*.investor-left-div > *{
    margin: 0.6rem 0rem;
  }*/

  .investor-left-div-points-div{
    margin: 3.3rem 0rem 3.9rem;
  }

  .investor-left-div-h5{
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
    color: #1565D8;
  }
  .investor-left-div-h4{
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: bold;
    font-size: 4.3441rem;
    line-height: 7rem;
    color: #000000;
  }

  .investor-left-div-p{
    width: 61.6rem;
    /*font-family: Inter;*/
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #0C111F;
    opacity: 0.6;
    text-align: justify;
  }

  .investor-left-div-points-p{
    /*font-family: Inter;*/
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #0C111F;
    opacity: 0.6;
    margin-bottom: 1rem;
  }
  .investor-left-div-points-p > .fas{
    width: 2rem;
    height: 2rem;
    color: #1565D8;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    margin-right: 1.5rem;
  }

  .investor-right-div{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding-top: 20rem;*/
  }
  .investor-right-div-img{
    width: 637px;
    height: 507.12px;
    -webkit-filter: drop-shadow(0rem 4rem 3rem rgba(25, 25, 46, 0.04));
            filter: drop-shadow(0rem 4rem 3rem rgba(25, 25, 46, 0.04));
    border-radius: 1.31532rem;
  }

  .investor_ellipse {
    max-width: 13rem;
    height: 13rem;
    position: absolute;
    bottom: 22%;
    left: 13%;
    z-index: -1;
  }

  .investor-right-div-image-stickers {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.6rem 2.4rem;
    background: #FFFFFF;
    box-shadow: 0rem 4rem 3rem rgba(25, 25, 46, 0.04);
    border-radius: 1.6rem;
    position: absolute;
    opacity: 0.93;
    text-transform: capitalize;
  }

  .investor-right-div-image-stickers > p{
    /*font-family: Poppins;*/
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: -0.03em;
    color: #5D87A8;
  }

  .sticker-1 {
    /*funds*/
    top: 24%;
    left: 3%;
  }

  .sticker-2 {
    /*success*/
    top: 45%;
    left: 0%;
  }

  .sticker-3{
    /*opportunities*/
    top: 65.5%;
    left: 32%;
  }
  .sticker-4{
    /*smaller companies*/
    top: 48%;
    left: 63%;
  }
  .sticker-5{
    /*investment*/
    top: 15%;
    left: 53%;
  }

  .sticker-5 > p{
    transform: translateX(1rem);
  }
  .sticker-5 > .fas{
    color: #95b0c5;
    font-weight: bolder;
  }
/*investor section ends*/

/*opportunity owner*/
  .opportunity-owner-container{
     min-height: 68.7rem;
     background: #FFFFFF;
   }

  .opportunity-owner{
    min-height: 68.7rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  
  .opportunity-owner-left-div{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .opportunity-owner-right-div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .opportunity-owner-left-div-subdivs{
    position: absolute;
    padding-left: 1.5rem;
  }
  .opportunity-owner-left-div-subdiv-1 {
    width: 33.6rem;
    height: 26.1rem;
    left: 37%;
    top: 13.5%;
    background: #3E50F7;
    box-shadow: 0rem 2.4rem 4.8rem rgba(85, 30, 0, 0.04);
    border-radius: 0.6rem;
    z-index: 2;
  }

  .opportunity-owner-left-div-subdiv-2 {
    width: 40.5rem;
    height: 48.6rem;
    left: 20.7%;
    top: 25.5%;
    background: #F7F8FC;
    border-radius: 2.6rem;
    z-index: 1;
  }

  .opportunity-owner-left-div-subdiv-3{
    width: 30.1rem;
    height: 21.8rem;
    left: 15.6%;
    top: 56.8%;
    background: #EAF0FF;
    box-shadow: 0rem 2.4rem 4.8rem rgba(85, 30, 0, 0.04);
    border-radius: 0.6rem;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .opportunity-owner-left-div-subdiv-3 > *{
    margin: 0.9rem 0rem;
  }

  .owner-left-div-subdiv-3-h3{
    /* $87,632 */
    height: 5.8rem;
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.8rem;
    color: rgba(0, 0, 0, 0.5);
  }

  .owner-left-div-subdiv-3-p{
    height: 1.5rem;
    /*font-family: Proxima Nova Condensed;*/
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.3);
  }

  .owner-left-div-subdiv-3-point{
    width: 90%;
    height: 1rem;
    background: #ffffff;
    margin: 0.3rem 0rem;
  }
  .opportunity-owner-left-div-subdiv-4 {
    width: 15.5rem;
    height: 11.3rem;
    left: 60.4%;
    top: 71.5%;
    background: #FFFFFF;
    box-shadow: 0rem 2.4rem 4.8rem rgba(85, 30, 0, 0.04);
    border-radius: 0.6rem;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .owner-left-div-subdiv-4-div{
    /* Oval */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #F7CC47;

  }
  .owner-left-div-subdiv-4-p{
    width: 7.5rem;
    height: 1.4rem;
    background: #F5DED1;
    border-radius: 0.2rem;
    margin: 0.5rem 0rem;
  }
  .owner-left-div-subdiv-4-p:nth-of-type(2){
    width: 12.6rem;
    height: 0.6rem;
    background: #F5DED1;
    border-radius: 0.3rem;
  }
/*opportunity owner ends*/

/*testimonials start*/
  .testimonials-container{
    height: 59.1rem;
    background: #F4F7FC;
  }

  .testimonials{
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 15.4rem calc(100% - 15.4rem);
        grid-template-rows: 15.4rem -webkit-calc(100% - 15.4rem);
        grid-template-rows: 15.4rem calc(100% - 15.4rem);
  }

  .tab {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-bottom: 0.1rem solid #1211271F;
  }

  .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3rem 3rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: auto;
    background: transparent;
  }
  .tab button:hover,.tab button.active {
    border-bottom: 0.1rem solid #444BD3;
  }

  .testimonial_content {
    display: none;
    -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  } 

  .testimonial {
    width: 50.4%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*font-family: Poppins;*/
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3.6rem;
    text-align: center;
    color: #121127;
    /*margin: 2.3rem 0rem;*/
  }

  .testimonial-user-img{
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;
    margin-top: 4.7rem;
  }

  .testimonial-user-name,.testimonial-user-designation{
    /*font-family: Poppins;*/
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: center;
    color: #121127;
  }

  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
/*testimonials owner ends*/

/*subscription container*/

  .subscription-container{
    min-height: 38.8rem;
    background: #03223A;
  }

  .subscription{
    min-height: 38.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem 0rem 3rem;
  }

  .subscription > p{
    /* Join over 100,000 Founders and Investors already doing business on Shearman & Sterling */
    width: 112.5rem;
    max-width: 80%;
    /*height: 12.4rem;*/
    /*font-family: Poppins;*/
    font-style: normal;
    font-weight: bold;
    font-size: 2vmax;
    line-height: 6.2rem;
    text-align: center;
    color: #FFFFFF;
    margin: 4rem 0rem;
  }
/*subscription container ends*/

/*footer*/

  .footer-container{
    height: 30.4rem;
    background-color: #000000;
  }

  .footer{
    height: 100%;
    padding-top: 3.7rem;
    color: ghostwhite;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*align-items: center;*/
  }

  .footer > *{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-logo-div{
    width: 34.5rem;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer-logo-div > *{
    margin: 1rem 0rem;
  }

  .footer-logo-div > img{
    width: 15rem;
    height: auto;
  }
  .footer-logo-div > p:first-of-type{
    width: 33.2rem;
    /*height: 9.6rem;*/
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .footer-logo-div > p:last-of-type{
    width: 34rem;
    height: 2.4rem;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(255, 255, 255, 0.85);
  }

  .footer-links-ul{
    list-style-type: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-links-heading{
    /*font-family: 'Raleway';*/
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 0.5rem;
  }

  .footer-link{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 1.5rem 0rem;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }

  .footer-link:hover{
    color: ghostwhite;
  }

  .footer-links-heading + address,.footer-contact-info{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-links-heading + address > p,.footer-contact-info > p{
    margin: 0.5rem 0rem;
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(255, 255, 255, 0.5);
  }
/*footer ends*/


/*Media queries*/

  /*common styles MQ*/
    @media screen and (max-width: 767px){
      .container{
        padding: 0rem 0.5rem;
      }
      .top-btn,.top-menu-btn {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 0.8rem;
      }
    }
  /*common styles MQ Ends*/

  /*navbar media queries*/

    @media screen and (max-width: 1150px){
      .icon {
        display: block;
        margin-right: 3%;
      }

      .navbar{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center
      }

      .navbar-navigation{
        display: none;
      }
      
      .responsive-navigation{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        top: 8.1rem;
        left: 0;
        width: 100%;
        background: #0b3556;
        padding: 1rem 0rem;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
      }

      .nav-link {
        padding: 1rem 0.5rem;
      }
      .navgation-left-menu, .navgation-right-menu
      {
        display: flex;
      }
    }

    @media screen and (max-width: 804px) {
      .top-menu-btn {
        top: 14.5%;
      }

      .navbar-container{
        padding: 0rem 1rem;
      }

      .responsive-navigation{
        display: block !important;
        text-align: center;
      }

      .responsive-navigation a{
        display: block !important;
        width: 50%;
        text-align: center;
        margin: 1rem auto;
      }
    }
    @media screen and (max-width: 685px) {
      .navgation-left-menu,.navgation-right-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .responsive-navigation a{
        width: 30%;
      }
    }
    @media screen and (max-width: 565px) {
      .responsive-navigation a{
        width: 40%;
      }
    }
    @media screen and (max-width: 480px) {
      .responsive-navigation a{
        width: 50%;
      }
    }

    @media screen and (max-width: 385px) {
      .responsive-navigation a{
        width: 65%;
      }
    }
  /*navbar media queries ends*/

  /*header MQ*/
    @media screen and (max-width: 1250px) and (min-width: 1153px){
      .header-container{
        min-height: 100vh;
      }

      .left-header-div > h1 {
        font-size: 4.5rem;

      }
    }
    @media screen and (max-width: 1152px){
      
      .header{
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center
      }

      .left-header-div{ 
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center
      }

      .left-header-div > *{
        text-align: center !important;
      }

      .left-header-div > p:first-of-type{
        font-size: 1.6rem;
      }

      .right-header-div{
        display: none;
      }
    }
    @media screen and (max-width: 792px){
      .header-container{
        padding: 0rem 0.5rem !important;
      }
      .left-header-div > h1 {
        height: auto;
        line-height: 5rem;
        font-size: 2.8rem;
      }

      .left-header-div > p:last-of-type {
        margin-bottom: 4.5rem;
      }
    }
    @media screen and (max-width: 400px){
      .left-header-div > h1 {
        font-size: 2.3rem;
      }

      .header-btn {
        width: 15rem;
        height: 5rem;
        padding: 1rem;
        font-size: 1.4rem;
      }

    }
  /*header MQ ends*/

  /*clients MQ*/
    @media screen and (max-width: 1152px){
      .clients{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,minmax(50%, auto));
        justify-items: center;
      }
    }  
    @media screen and (max-width: 600px){
      
      .clients-container{
        min-height: 50vh;
      }

      .clients{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,minmax(25%, auto));
        justify-items: center;
        padding: 2rem 0rem;
      }
    }   
    @media screen and (max-width: 555px){
      
      .clients-container{
        min-height: 50vh;
      }

      .clients{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,minmax(25%, auto));
        justify-items: center;
        padding: 2rem 0rem;
      }
    }  
  /*clients MQ Ends*/

  /*investor MQ*/
    @media screen and (max-width: 1285px){
     .investor{
       min-height: 68.7rem;
       display: -ms-grid;
       display: grid;
       -ms-grid-columns: 1fr;
           grid-template-columns: 1fr;
           grid-template-rows: minmax(68.7rem,auto) minmax(50rem,auto);
       justify-items: center;    
       align-content: center; 
     }

     .opportunity-owner{
      min-height: 100vh;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
          grid-template-rows: minmax(50rem,auto) minmax(68.7rem,auto);
      justify-items: center;    
      align-content: center; 
     }

     .opportunity-owner-left-div {
      width: 100%;
      min-height: 100vh;
     }

     .opportunity-owner-right-div,.investor-left-div{
      align-items: center;
     }
      
    }
    @media screen and (max-width: 767px){
      
      .opportunity-owner,.investor{
        display: flex;
        justify-content: center;
        align-items: center
      }

      .opportunity-owner-right-div > *,.investor-left-div > *{
        width: 80%;
        margin: 0.5rem auto;
      }

      .investor-left-div-h5{
        text-align: center;
      }
      .investor-left-div-h4 {
        text-align: center;
        font-size: 3.5rem;
        line-height: 4rem;
      }

      .opportunity-owner-left-div,.investor-right-div{
        display: none;
      }
    }
    
    @media screen and (max-width: 445px){
      .opportunity-owner-container,.investor-container{
        padding: 1.5rem 1rem;
      }

      ..opportunity-owner,.investor{
        height: 100%;
        display: flex;
      }
    }
  /*investor MQ ends*/

  /*testimonials MQ*/
  @media screen and (max-width: 1111px){
    .tab{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,minmax(5rem, auto));
    }
  }

  @media screen and (max-width: 767px){
    .testimonials-container {
      min-height: 10vh;
    }
  }

  @media screen and (max-width: 555px){
    .testimonial {
      width: 100%;
      height: auto;
      text-align: justify;
      text-align-last: center;
      color: #121127;
      padding: 0rem 1rem;
    }
  }

  /*testimonials MQ ends*/

  /*subscription MQ*/
  @media screen and (max-width: 1375px){
    .subscription > p{
      height: auto;
    }
  }
  @media screen and (max-width: 989px){
    .subscription > p {
      width: 100%;
      height: auto;
      font-size: 3.8rem;
      text-align: justify;
      text-align-last: center;
    }
  }

  @media screen and (max-width: 767px){

    .subscription {
      height: auto;
    }
    .subscription-container {
      min-height: 100%;
      padding: 0rem 0.5rem;
    }

    .subscription > p {
      width: 100%;
      height: auto;
      font-size: 3.3rem;
      text-align: center;
      text-align-last: center;
    }



  }
  /*subscription MQ ends*/



  /*footer MQ*/
  @media screen and (max-width: 1010px){

    .footer-container{
      height: auto;
      padding: 0rem 2rem;
    }
    
    .footer{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(4,auto);
      grid-gap: 2rem;
    }

    
    #footer-logo-div {
      margin: 0rem 0.75rem;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      width: 100%;
      align-items: center;
      /* justify-items: center; */
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* text-align: center; */
    }

    #footer-logo-div > *:not(img){
      width: 100%;
      height: auto;
    }

    .footer-logo-div > img {
      width: 25rem;
      height: auto;
    }

    #learn-more-div{
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 100%;

    }

    
    #about-us-footer-div{
     grid-column: 1 / 3;
     grid-row: 3 / 4;
     width: 100%;
    }

    .footer-links-ul{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;

    }

    .footer-link-item{
      margin: 0rem 0.75rem;
    }

    #address-footer-div,#footer-contact-div
    {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      /*text-align: center;*/
      margin: 0rem 0.75rem;
    }

    .footer-link {
      padding: 1rem 0rem;
    }
  }

  /*footer MQ ends*/

/*Media queries end*/
