:root {
  --primary-accent: #3c64b1;
  --info-accent: #3178dd;
  --market-place-navbar-bg: #E8EDF6;
  --light-gray-shade-2: #e5e5e5;
  --market-place-btn-border: #C4C4C4;
  --light-gray-shade-1: #54595E;
  --light-gray-shade-3: #666666;
  --market-place-btn-border-hover: #989898;
  --custom-accepted-btn-color: #52C41A;
  --custom-processing-btn-color: #1890FF;
  --custom-rejected-btn-color: #F5222D;
  --custom-favorite-btn-color: #6573F9;
  --custom-archive-btn-color: #F0C68A;
  --bg-mktplc-navbar: #F3F6FA;
  --color-white: #FFF;
  --color-253: rgb(253, 253, 254);
  --investor-card-text-color: #141B2D;
  --text-violet: #665BEB;
  --investor-details-financial-icons: #9FACB8;
  --opportunity-accept-btn: #59598E;
  --marketplace-opportunity-bg: #F3F6FB;
  --investor-search-bg: #F5F8FE;
}

html{
  scrollbar-width: none;
}

body{
  font-family: 'Inter' !important;
}

::-webkit-input-placeholder{
  font-size: 14px !important;
}

::-moz-placeholder{
  font-size: 14px !important;
}

:-ms-input-placeholder{
  font-size: 14px !important;
}

::-ms-input-placeholder{
  font-size: 14px !important;
}

::placeholder{
  font-size: 14px !important;
}

.hand-pointer{
  cursor: pointer;
}

.notifications-div > .dropdown-toggle::after{
  display: none;
}

.cw-5p{
  display: inline-block;
  width: 5% !important;
}
.cw-10p{
  display: inline-block;
  width: 10% !important;
}
.cw-15p{
  display: inline-block;
  width: 15% !important;
}
.cw-17-5p{
  display: inline-block;
  width: 17.5% !important;
}
.cw-20p{
  display: inline-block;
  width: 20% !important;
}

.investor-card-text-color{
  color: var(--investor-card-text-color) !important;
}
.investor-save-text-color{
  color: var(--light-gray-shade-1) !important;
}
.light-gray-shade-3{
  color: var(--light-gray-shade-3) !important;
}
.light-gray-shade-2{
  background-color: var(--light-gray-shade-2) !important;
}

.custom-top-end-absolute{
  top: 10px;
  right: 10px;
}
.custom-bottom-end-absolute{
  bottom: 10px;
  right: 10px;
}

.text-violet{
  color: var(--text-violet);
}
.text-light-gray-1{
  color: var(--investor-details-financial-icons);
}

.fw-500{
  font-weight: 500 !important;
}

.fw-600{
  font-weight: 600 !important;
}


.bg-primary-marketplace,.bg-investor-home-filter{
  background: var(--market-place-navbar-bg);
}

.color-custom-primary{
  color: var(--primary-accent);
}
.color-custom-info{
  color: var(--info-accent);
}

.bg-investor-home{
  background-color: var(--bg-mktplc-navbar);
}
.bg-opportunity-accept{
  background-color: var(--opportunity-accept-btn) !important;
  color: var(--color-white) !important;
}

.bg-white-F-shade{
  background-color: var(--marketplace-opportunity-bg) !important;
}

.bg-white-F-shade-2{
  background-color: var(--investor-search-bg) !important;
}

.border-custom{
  border: 1px solid var(--market-place-btn-border) !important;
}

/*.btn-custom-investor-favs
{
  background-color: var(--investor-card-text-color) !important;
  color: var(--color-white) !important;
}*/
.btn-custom-submit,.btn-primary-custom{
  background-color: var(--primary-accent) !important;
  color: var(--color-253) !important;
}
.btn-outline-custom-submit{
  background-color: transparent !important;
  color: var(--primary-accent) !important;
  border: 2px solid var(--primary-accent) !important;
}
.btn-custom-accepted{
  color: var(--custom-accepted-btn-color);
  border: 1px solid var(--custom-accepted-btn-color);
}
.btn-custom-processing{
  color: var(--custom-processing-btn-color);
  border: 1px solid var(--custom-processing-btn-color);
}
.btn-custom-rejected{
  color: var(--custom-rejected-btn-color);
  border: 1px solid var(--custom-rejected-btn-color);
}

.btn-custom-investor-favs,.btn-custom-investor-chevron{
  background-color: var(--custom-favorite-btn-color) !important;
  color: var(--color-white) !important;
}
.btn-custom-favorite{
  color: var(--custom-favorite-btn-color) !important;
 
}
.btn-custom-archive{
  color: var(--custom-archive-btn-color) !important;
 
}

.border-light-gray{
  border:  1px solid var(--market-place-btn-border);
}

.border-light-gray:hover{
  border:  2px solid var(--market-place-btn-border-hover);
}

.bg-363740{
  background: var(--hex-363740);
} 
/*
.admin-opportunity-owner-detail{
  height: calc(100vh - 230px);
}*/

.fs-10{
  font-size: 10px !important;
}
.fs-11{
  font-size: 11px !important;
}
.fs-12{
  font-size: 12px !important;
}

.fs-13{
  font-size: 13px !important;
}
.fs-14{
  font-size: 14px !important;
}
.fs-15{
  font-size: 15px !important;
}
.fs-16{
  font-size: 16px !important;
}
.fs-18{
  font-size: 18px !important;
}

.fs-20{
  font-size: 22px !important;
}
.fs-22{
  font-size: 22px !important;
}
.fs-24{
  font-size: 24px !important;
}
.fs-29{
  font-size: 29px !important;
}

.ht-50px{
  height: 50px;
}
.ht-70px{
  height: 70px;
}
.ht-80px{
  height: 80px;
}
.ht-100px{
  height: 100px;
}
.mht-50{
  min-height: 50px;
}
.mht-70{
  min-height: 70px;
}
.mht-100{
  min-height: 100px;
}

.mt-10{
  margin-top: 10px !important;
}
.mt-28{
  margin-top: 28px !important;
}
.mt-60{
  margin-top: 60px !important;
}
.mt-75{
  margin-top: 75px !important;
}
.mt-85{
  margin-top: 85px !important;
}

.mktplc-nav-link{
  height: 100%;  
}

.ls-03{
  letter-spacing: 0.3px;
}

.mobile-brand-logo-width{
  width: 250px !important;
}

.custom-home-page-notifications .tablinks.active{
  color: #212121 !important;
  border-bottom: 2px solid #5B5FC7 !important;
}

.mktplc-nav-link:hover, a.mktplc-nav-link.active{
  background-color: var(--opportunity-accept-btn) !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
}

.oOwner-pill-link:hover, a.oOwner-pill-link.active, a.oOwner-pill-link.active > span{
  /*background-color: var(--opportunity-accept-btn) !important;*/
  color: var(--primary-accent) !important;
  border-radius: 0px !important;
}

.oOwner-pill-link:hover, a.oOwner-pill-link.active{
  border-bottom: 1px solid var(--primary-accent);
}

.pill-content-item{
  min-height: 333px;
  margin: 10px 0px;
}

.oPill-content-top-div{
  min-height: 260px;
}
.oPill-content-bottom-div{
  min-height: 73px;
}

.sns-left-menu-plus{
  
  position: fixed;
  width: 40px;
  height: 40px;
  left: 21px;
  top: 75px;
  color: var(--primary-accent);
  z-index: +1;
  border-radius: 50%;
  cursor: pointer;
}

.sns-right-menu-plus{

  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  z-index: +9;
  width: 40px;
  height: 40px;
  right: 21px;
  top: 75px;
  color: var(--primary-accent);
}

.mktplc-pills-custom-overflow {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden !important;
  scrollbar-color: #AAE2EA #AAE2EA55;
  scrollbar-width: none;
}

.mktplace-investors-cards-pane{
    height: 75vh;
}

.custom-overflow {
  overflow-y: auto;
  overflow-x: hidden !important;
  scrollbar-color: #AAE2EA #AAE2EA55;
  scrollbar-width: none !important;
}
.custom-overflow-scrollbar {
  overflow-y: auto;
  overflow-x: hidden !important;
  scrollbar-color: #AAE2EA #AAE2EA55;
  scrollbar-width:  thin !important;
}

.admin-profile {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifications-div {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifications-div > .fas{
  font-size: 20px;
  color: #C5C7CD;
}

.notification-count {
  width: 24px;
  height: 20px;
  border-radius: 4px;
  background: #FF4D4F;
  position: absolute;
  top: -10px;
  right: -22px;
}
.notifications-div.dropdown > .notification-count {
  width: 24px;
  height: 20px;
  border-radius: 4px;
  background: #FF4D4F;
  position: absolute;
  top: -0px;
  right: -10px;
}
.notifications-div.dropdown > .dropdown-menu {
  width: 350px !important;
}

.notification-count > span{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
}


.modal {
  display: none;
  position: fixed;
  z-index: +99999 !important;
  /*padding-top: 70px;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 99.8vh;
 /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);*/
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-backdrop{
  z-index: 0;
}

.notification-modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 100%;
  max-width: 350px;
  margin-right: 15px;
  padding: 0px 10px;
}

.notificationclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.notificationclose:hover,
.notificationclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.navigationTabContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95%;
  overflow: auto;
  padding: 10px 0px 40px;

}

.notifications-main-container{
  height: 90%;
  overflow-y: auto;
  scrollbar-color: #AAE2EA #AAE2EA55;
  scrollbar-width: none;
}

.notification-footer-div {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5px 10px;
}

.notification-view-all-btn {
  /* width: 50px; */
  /* height: 22px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0E71FF;
  text-transform: capitalize;
  padding: 15px;
}

.notification-owner-container-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: inset 0px -1px 0px #F0F0F0;
  box-shadow: inset 0px -1px 0px #F0F0F0;
  margin: 0px 0px;
}

.notification-owner-left-div {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.notification-owner-left-div > *{
  margin: 5px 0px;
}

.notification-owner-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification-owner-info > img{
  width: 32px;
  height: 32px;
}
.notification-owner-info > span{
  width: 155px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
  margin-left: 16px;
}

.notification-owner-description {
  width: 90%;
  height: 66px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
}


.notification-owner-right-div {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.notification-investor-container-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px 24px 12px 0px;
  width: 100%;
  height: 96px;
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px -1px 0px #F0F0F0;
          box-shadow: inset 0px -1px 0px #F0F0F0;
  color: rgba(0, 0, 0, 0.85);
}

.notification-investor-left-div{
  width: 10%;
}
.notification-investor-right-div{
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notification-investor-title{
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
}
.notification-investor-description{
  height: 44px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.45);
}


.admin-greetings-div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.greeting{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #252733;
}

.admin-greetings-div > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgb(191, 191, 191);
  padding: 3px;
  margin-left: 14px;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #ffffff;
}

.tab button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  text-transform: capitalize;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  color: #1890FF;
  border-bottom: 1px solid #1890FF;
}

.tabcontent {
  display: none;
  padding: 6px 0px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.notification-modal-content > .tab{
  border-bottom: 1px solid #0000001A;
}

.notification-modal-content .tabcontent{
  border: none;
}

/*:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}*/

/*.navbar {
  padding-top: 5px !important;
  padding-bottom: 10.3px !important;
}*/

.custom-navbrand-container{
  padding: 5px 2px;
}

.rounded-full {
  border-radius: 100%;
}

.investors-list-item{
  min-height: 314px;
}

#wrapper {
  overflow-x: hidden;
 /* background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );*/
}

#sidebar-wrapper {
  height: 100vh;
  margin-left: -15rem;
  width: 400px;
  -webkit-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  
  /*padding: 5px 0px;*/
}

form.filter-form{
   height: calc(100vh - 210px); 
   overflow-y: auto;
   overflow-x: hidden; 
   scrollbar-color: #AAE2EA #AAE2EA55;
   scrollbar-width: none;
}

.form-width-toggle{
  width: 250px;
}

#sidebar-wrapper .sidebar-heading {
  /*padding: 0.875rem 1.25rem;
  font-size: 1.2rem;*/
}


.profile-drpdown{
  top: 110%;
}

.profile-drpdown::before {
  content: "";
  position: absolute;
  top: -9%;
  left: 80%;
  margin-left: -5px;
  height: 15px;
  width: 15px;
  border-left: 1px solid rgb(198, 202, 209);
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  /* border-width: 10px; */
  /* border-style: solid; */
  /* border-color: transparent transparent rgb(202, 212, 230) transparent; */
  border-top: 1px solid rgb(198, 202, 209);
  background: #fff;
}

/*#sidebar-wrapper .list-group {
  width: 15rem;
}*/

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  /*padding: 20px 30px;*/
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

.profile-settings-span{
  width: 25px;
  height: 25px;
  /*border: 1px solid rgb(191, 191, 191);*/
}

.dropdown{
  /*width: 75px;*/
}

.nav-brand-logo{
  width: 220px;
  height: 63px;
}

#basic-addon1{
  /*background-color: transparent;*/
}

#slider-range {
  width: 100%;
}

.ui-widget-content {
  height: 2px;
  background-color: #b7b7b7;
  border: none !important;
  position: relative;
}

.ui-widget-header {
  background-color: #91D5FF !important;
  position: absolute;
  height: 100%;
}

.ui-slider-handle {
  top: -5px !important;
  height: 20px;
  width: 20px;
  background-color: #fff !important;
  border-radius: 10px;
  border-color: #91D5FF !important;
  position: absolute;
  outline: none;
  cursor: pointer !important;
}


/*.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}*/


.custom-notification-dropdown {
  left: -43px !important;
}

@media (min-width: 992px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
@media (max-width: 451px) {
  .notification-modal-content{
    margin-right: 0px;
  }
}


/*Investor home page*/
  .investor-home-opportunity-container{
    min-height: 273px;
  }

  .investor-img-custom-fluid,.card-img-top{
    width: 100%;
    height: 273px;
  }

  .investor-view-tablinks.active,.investor-view-tablinks:hover{
    color: var(--primary-accent) !important;
  }

  .investor-fav-opportunity{
    background-color: #0008;
  }

  .investor-fav-opportunity,
  .investor-view-opportunity{
    z-index: +1;
  }

  .investor-home-opportunity-img-div::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
  }
/*Investor home page Ends*/

/* Opportunity Owner Home Page */
  .opportunity-details{
    min-height: 333px;
  }

  .oOwner-investor-card{
    min-height: 141px;
  }
  .custom-home-page-notifications{
    padding-right: 100px;
  }

  .custom-home-page-notifications > .notification-modal-content{
    max-width: 350px;
  }

  .homepage-notification-container{
    min-height: 133px;
    width: 100%;
  }

  .mySlides {display: none}
  img {vertical-align: middle;}

  /* Slideshow container */
  .slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    /*margin: auto;*/
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
   /* position: absolute;
    top: 50%;*/
    width: auto;
    /*padding: 16px;*/
    /*margin-top: -22px;*/
    color: var(--primary-accent);
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
  }

 
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  @-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }

  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/* Opportunity Owner Home Page Ends */

/* Investor details Page Starts */
  .custom-list-dots::before{
    font-size: 18px;
    color: #000000;
    content: ". ";
    font-weight: bold;
    padding-bottom: 9px;
  }

/* Investor details Page Ends */

/*SnS Admin Opportunity owner page*/
  .custom-opportunity-img-fluid{
    width: 100%;
    height: 437px;
  }
/*SnS Admin Opportunity owner page ends*/

.tooltip-inner {
    font-size: 16px;
    background-color: #2f4fff;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #2f4fff !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #2f4fff !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #2f4fff !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #2f4fff !important;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -6%;
    left: 80%;
    margin-left: -5px;
    height: 15px;
    width: 15px;
    border-left: 1px solid #c6cad1;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    border-top: 1px solid #c6cad1;
    background: #fff
}
.custom-dropdown-menu::before {
  top: -6%;
}

.accordion-button::after{
  margin-left: 0px !important;
}



@media screen and (max-width: 991px){
  .slideshow-container,.pill-content-item,.oPill-content-top-div,.oPill-content-bottom-div{
    min-height: 10px;
  }

  .cw-10p,
  .cw-15p,
  .cw-17-5p,
  .cw-20p{
    display: inline-block !important;
    width: 49% !important;
  }
  .dropdown-menu::before {
    top: 24%;
    left: 19%;
  }

  .sns-right-menu-plus,.sns-left-menu-plus {
    top: 145px;
  }

}
@media screen and (max-width: 660px){
  .sns-right-menu-plus, .sns-left-menu-plus {
    position: absolute;
    top: 85px;
  }
}