/* heading-> font-family: 'Mulish';*/
/*common styles*/
  :root {
   --primary-accent: #3c64b1;
      --light-gray-1: #f4f6fb;
      --light-black-1: #373F41;
      --navbar-bg-1: #E8EDF6;
      --clr-white: #FFFFFF;
      --white-D-shade: #DEE5F3;
      --clr-light-gray-1: #737B7D;
      --owner-form-placeholder-color: #6c757d;
      --success-btn-success-bg: rgb(122, 193, 66);
      --clr-white: rgb(255, 255, 255);
      --clr-black: rgb(0, 0, 0);
      --clr-light: rgb(245, 248, 255);
      --clr-light-gray: rgb(196, 195, 196);
      --clr-blue: rgb(63, 134, 255);
      --clr-light-blue: rgb(171, 202, 255);
      --required-star-color: rgb(255, 69, 0);
      --login-form-text-color: #3C64B1;
      --white-F-shade: #F3F6FA;
  }

  html {
    /*font-size: 62.5%;*/
  /*  font-family: 'Inter';*/
    -webkit-scrollbar-color: rebeccapurple green;
    -webkit-scrollbar-width: thin;
  }

  * {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    font-family: 'Inter';
    /*width: 100%;*/
    min-height: 100vh;
  }

  .bg-primary-custom{
    background-color: var(--primary-accent);
  }


  .htv-100{
    height: 100vh;
  }

  .custom-overflow {
    overflow-y: auto;
    overflow-x: hidden !important;
    scrollbar-color: #AAE2EA #AAE2EA55;
    scrollbar-width: none !important;
  }
  .custom-overflow-scrollbar {
    overflow-y: auto;
    overflow-x: hidden !important;
    scrollbar-color: #AAE2EA #AAE2EA55;
    scrollbar-width:  thin !important;
  }

  .ht-5p{
    height: 5% !important;
  } 

  .ht-10p{
    height: 10% !important;
  }
  .ht-15p{
    height: 15% !important;
  }
  .ht-20p{
    height: 20% !important;
  }
  .ht-30p{
    height: 30% !important;
  }
  .ht-40p{
    height: 40% !important;
  }
  .ht-60p{
    height: 60% !important;
  }
  .ht-70p{
    height: 70% !important;
  }
  .ht-75p{
    height: 75% !important;
  }
  .ht-80p{
    height: 80% !important;
  }
  .ht-90p{
    height: 90% !important;
  }

  .w-5p{
    width: 5% !important;
  } 

  .w-10p{
    width: 10% !important;
  }
  .w-15p{
    width: 15% !important;
  }
  .w-20p{
    width: 20% !important;
  }
  .w-30p{
    width: 30% !important;
  }
  .w-40p{
    width: 40% !important;
  }
  .w-60p{
    width: 60% !important;
  }
  .w-70p{
    width: 70% !important;
  }
  .w-75p{
    width: 75% !important;
  }
  .w-80p{
    width: 80% !important;
  }
  .w-90p{
    width: 90% !important;
  }

  .optgroup{
    font-size: 14px !important;
  }
  .fs-14{
    font-size: 14px !important;
  }
  .fs-24{
    font-size: 24px !important;
  }
  .fs-28{
    font-size: 28px !important;
  }
  
  .fs-18{
    font-size: 18px !important;
  }
  
  .fs-30{
    font-size: 30px !important;
  }
  
  .fs-32{
    font-size: 32px !important;
  }
  .fs-36{
    font-size: 36px !important;
  }
  .fs-44{
    font-size: 44px !important;
  }

  .fw-500{
    font-weight: 500 !important;
  }
  .fw-600{
    font-weight: 600 !important;
  }

  .mht-50{
    min-height: 50px !important;
  }

  .mb-50px{
    margin-bottom: 50px !important;
  }
  .mb-100px{
    margin-bottom: 100px !important;
  }
  .mt-50px{
    margin-top: 50px !important;
  }
  .mt-100px{
    margin-top: 100px !important;
  }

  .text-primary-custom{
    color: var(--primary-accent) !important;
  }

  .btn-outline-primary-custom{
    background-color: transparent !important;
    color: var(--primary-accent) !important;
    border-color: 1px solid var(--primary-accent);
    padding: 5px 40px;
  }

  .btn-primary-custom{
    background-color: var(--primary-accent) !important;
    color: var(--clr-white) !important;
    padding: 5px 40px;
  }
  .bg-navbar-1{
    background-color: var(--navbar-bg-1) !important;
  }

  .bg-light-gray-1{
    background-color: var(--light-gray-1) !important;
  }
  .white-F-shade{
    background-color: var(--white-F-shade) !important;
  }

  .bg-white-D-shade{
    background-color: var(--white-D-shade) !important;
  }

  .clr-light-gray-1{
    color: var(--clr-light-gray-1) !important;
  }
  .clr-light-black-1{
    color: var(--clr-light-black-1) !important;
  }

  .border-light-gray-1{
    border: 1px solid #CED2D2 !important;
  }


  .border-light-gray-1:focus,.border-light-gray-1:hover{
    border: 1px solid #828989 !important;

  }




  .form-control-lg,.form-select-lg {
    padding-top: 0.75rem !important;
    padding-bottom: .75rem !important;
    font-size: 14px !important;
  }

  .form-control:hover,.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none !important;
            box-shadow: none !important; 
    border-left: 5px solid var(--login-form-text-color);
  }


  .min-vh-100{
    min-height: 100vh;
  }


  .scrollbar-style-moz{
    scrollbar-color: #AAE2EA #AAE2EA55;
    scrollbar-width: thin;
  }
  
  .sns-left-menu-plus{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 21px;
    top: 118px;
    background: #aab0bb;
    color: #162c99;
    z-index: +1;
    border-radius: 50%;
    /*font-weight: 300;*/
    -webkit-text-stroke: 2px #aab0bb;
    font-size: 20px;
    cursor: pointer;
  }

  .sns-right-menu-plus{

    cursor: pointer;
    font-size: 20px;
    position: fixed;
    font-weight: 300;
    border-radius: 50%;
    z-index: +9;
    width: 40px;
    height: 40px;
    right: 21px;
    top: 118px;
    background: #aab0bb;
    color: #162c99;
    -webkit-text-stroke: 2px #aab0bb;
  }

  /* The sidepanel menu */
  .sidepanel {
    height: calc(100% - 88px); /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    max-width: 350px;
    position: fixed; /* Stay in place */
    z-index: +2; /* Stay on top */
    bottom: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px 285px 15px;
    grid-template-columns: 50px 285px 15px;
  }

  /* The sidepanel links */

  .left-sidepanel-plus-div{
    position: relative;
    height: 100%;
    background-color: #ebebeb;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .left-sidepanel-close-div{
      height: 100%;
      background-color: #ebebeb;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }


  .left-sidepanel-plus-div a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: #aab0bb;
    color: #162c99;
    z-index: +1;
    border-radius: 50%;
    /*font-weight: 300;*/
    -webkit-text-stroke: 2px #aab0bb;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
  }

  .unread-notification-count{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #238cf5;
    z-index: +2;
    top: 0;
    right: 0;
  }

  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #928E8E;
  }

  .left-sidepanel-close-div a:hover{
    color: red;
  }


  .left-nav-content{
    height: 100%;
    background-color: #f5f5f5;
  }

  /* Position and style the close button (top right corner) */
  /*.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }*/
  .logged-in-user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    /*background-color: #fff;*/
  }

  .user-profile-name{
    color: #5F5C5C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .user-profile-name > span {
  /*  font-family: 'Inter';*/
    font-size: 25px;
    font-weight: 800;
    margin-left: 10px;
    text-transform: capitalize;
  }

  .user-profile-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #D4CFCF;
  }


/*home page starts*/
 
  /*header start*/
    .header {
      height: 421px;
      background: #f4f6fb;
      /*opacity: 0.06;*/
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    .home-banner-heading {
      /*styleName: H2 - bold 44 (56, 0.2px);*/
      /*height: 56px;*/
      width: 730px;
      max-width: 100%;
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: 1.5px;
      text-align: center;
      color: #373f41;
      text-transform: capitalize;
      margin-bottom: 32px;
    }

    .home-banner-text {
      /*styleName: Body 1 - regular 16 (22, 0.3px)*/
      /*height: 44px;*/
      width: 730px;
      max-width: 100%;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 2px;
      text-align: center;
      margin-bottom: 32px;
    }

    .home-banner-btn {
      width: 106px;
      height: 42px;
      color: var(--primary-accent);
      border: 1px solid var(--primary-accent);
      /*styleName: Button - bold 14 (18, 0.3px);*/
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      text-align: center;
      text-transform: capitalize;
      background: transparent;
      -webkit-transition: /*background 0.5s,color 0.5s,*/ -webkit-box-shadow 0.2s, -webkit-transform 0.3s;
      transition: /*background 0.5s,color 0.5s,*/ -webkit-box-shadow 0.2s, -webkit-transform 0.3s;
      -o-transition: /*background 0.5s,color 0.5s,*/ box-shadow 0.2s, transform 0.3s;
      transition: /*background 0.5s,color 0.5s,*/ box-shadow 0.2s, transform 0.3s;
      transition: /*background 0.5s,color 0.5s,*/ box-shadow 0.2s, transform 0.3s, -webkit-box-shadow 0.2s, -webkit-transform 0.3s;
      padding: 2px 5px;
    }

    .home-banner-btn:hover {
      /*background: var(--primary-accent);
        color: #FFFFFF;*/
      -webkit-box-shadow: 0px 3px 7px 0.5px #7db6e8;
              box-shadow: 0px 3px 7px 0.5px #7db6e8;
      cursor: pointer;
    }

    .home-banner-btn:active {
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
    }

  /*header end*/

  /*home section 3 ends*/

    .home-section-3 {
      height: 139px;
      background: #dee5f2;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: minmax(30%, 1fr) 5px minmax(30%, 1fr) 5px minmax(30%, 1fr);
      grid-template-columns: repeat(3, minmax(30%, 1fr));
      -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-gap: 5px;
    }

    .home-section-3 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }

    .home-section-3 > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    }

    .home-section-3 > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    }

    .home-section-3-sub-div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    .home-section-3-heading {
      /* Total User */
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 18px;
      color: #000000;
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .home-section-3-text {
      /* Rounds funded */
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.3px;
      color: #000000;
    }

    .home-section-3-text::first-letter,
    .home-section-5-text::first-letter {
      text-transform: uppercase;
    }
  /*home section 3 ends*/

  /*home section 4 start*/
    .home-section-4 {
      height: 108px;
      background: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      margin: 18px 0px 24px;
      text-align: center;
    }

    .home-section-4-heading {
      /* H3 - bold 32 (40, 0.1px) */
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.1px;
      color: #373f41;
    }

    .home-section-4-text {
      /* Body 1 - regular 16 (22, 0.3px) */
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #737b7d;
    }
  /*home section 4 ends*/

  /*home section 5 start*/
    .home-section-5 {
      height: 204px;
      background: #ffffff;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (30%)[2];
      grid-template-columns: repeat(2, 30%);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0px 0px 60px;
    }

    .home-section-5-sub-div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }

    .home-section-5-heading {
      /* H6 - bold 18 (24. 0.1px) */
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #373f41;
      text-transform: capitalize;
    }
    .home-section-5-text {
      /* Body 2 - regular 14 (20, 0.2px) */
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #373f41;
      text-align: center;
    }
    .home-section-5-btn {
      /* Button - bold 14 (18, 0.3px) */
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #3c64b1;
      margin: 0px 10px;
      background: transparent;
      text-transform: capitalize;
      cursor: pointer;
      text-decoration: none;
    }

    .home-section-5-btn:hover{
      
    }
  /*home section 5 ends*/
  /*footer starts*/
    .footer {
      height: 270px;
      background: #e8edf6;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
      padding: 0px 45px;
    }
    .footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    }
    .footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    }
    .footer > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    }
    .footer > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    }

    .footer-sub-div-1,
    .footer-sub-div-2 {
      /* height: 70%; */
      list-style: none;
      /*text-align: center;*/
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /* flex-direction: column; */
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding: 5px 0px 0px;
    }

    .footer-sub-div-2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }

    /* .footer-sub-div-1 > *, */
    .footer-sub-div-2 > * {
      margin: 10px 0px;
    }

    .footer-menu {
      list-style: none;
    }

    .footer-menu > * {
      margin: 10px 0px;
    }

    .footer-menu-heading {
      /* Label 1 */
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
      text-transform: uppercase;
    }

    .footer-menu-link {
      text-decoration: none;
    /*  font-family: Poppins;*/
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }

    .footer-form {
      width: 100%;
    }

    .form-input-text {
      width: 75%;
      padding: 11px 15px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 4px;
    /*  font-family: Poppins;*/
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.5);
      -webkit-transition: background-color 0.5s, color 0.5s;
      -o-transition: background-color 0.5s, color 0.5s;
      transition: background-color 0.5s, color 0.5s;
    }

    .form-submit-btn {
      width: 24%;
      padding: 11px 15px;
      background: var(--primary-accent);
      border-radius: 4px;
    /*  font-family: Poppins;*/
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      text-transform: capitalize;
      cursor: pointer;
    }

    .footer-text {
      width: 99%;
    /*  font-family: Poppins;*/
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #000000;
    }

    .footer-text:first-letter {
      text-transform: uppercase;
    }

    .form-input-text:focus {
      background-color: #def;
      color: #000000;
    }
  /*footer ends*/
/*home page ends*/

/*registration page starts*/
  .registration-main-container{
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
    /*grid-column-gap: 2px;*/
  }

  .registration-left-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F3F6FA;

  }

  .registration-left-div > h2{
    width: 271px;
    height: 36px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: capitalize;
  }
  .registration-left-div > p{
    width: 411px;
    height: 56px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #8692A6;
  }
  .registration-left-div > p::first-letter{
    text-transform: uppercase;
  }

  .registration-right-div{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 10% 90%;
    grid-template-rows: 10% 90%;
  }

  .registration-right-div > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .registration-right-div > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .registration-right-div-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*padding: 39px 0px;*/
  }

  .reg-page-back-opt{
    width: 39px;
    height: 19px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #8692A6;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reg-page-back-opt > img{
    margin-right: 5px;
  }
  .reg-page-sign-in-option{
    /* Already have an account? Sign In */
    width: 282px;
    height: 19px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    height: 19px;
    color: #8692A6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .reg-page-sign-in-option a{
    text-decoration: none;
    margin-left: 2px;
  }
  .registration-right-div-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form-group{
    margin: 3px 0px;
  }
  .reg-label,.reg-checkbox-label{
    /* Your fullname* */
    display: block;
    /*width: 113px;*/
    height: 19px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696F79;
    margin: 7px 0px;

  }

  .phone-number-group{
    position: relative;
  }

  .reg-checkbox-label{
    width: 100%;
  }
  .reg-form-input{
    /* Rectangle 24 */
    width: 426px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #1565D8;
    border-radius: 6px;
    padding: 0px 30px;
  }

  .country-code-group{
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: +9;
    width: 200px;
  }

  .country-code-group img{
    height: 18px;
    width: 34px;
  }

  .country-code-group select{
    /* +44 */

    position: absolute;
    width: 50px;
    height: 17px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8692A6;
    text-align: right;
    margin-left: 10px;

  }

  .reg-form-checkbox ~ span{
    /* I agree to terms & conditions */
    display: inline-block;
    width: 220px;
    height: 19px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696F79;
  }

  .check-box-group{
    width: 426px;
  }

  ::-webkit-input-placeholder{
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #494949;
  }

  ::-moz-placeholder{
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #494949;
  }

  :-ms-input-placeholder{
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #494949;
  }

  ::-ms-input-placeholder{
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #494949;
  }

  ::placeholder, .dummy-option{
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #494949;
  }

  select option{
    text-transform: capitalize;
  }

  .reg-form-input[type="submit"]{
    /* Rectangle 27 */
    width: 426px;
    max-width: 100%;
    height: 32px;
    background: #3C64B1;
    border-radius: 6px;
  /*  font-family: Inter;*/
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .footer-copyrights-div{
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    font-size: 15px;
  }

/*registration page ends*/

/*MQueries*/

  @media screen and (max-width: 767px) {
    
    .footer * {
      font-size: 50%;
    }


    .nav {
      /*justify-content: space-around;*/
      padding: 5px; 

    }

    .header {
      height: 100vh;
    }

    .home-section-3 {
      height: 50vh;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: minmax(16vh, auto) 5px minmax(16vh, auto) 5px minmax(16vh, auto);
      grid-template-rows: repeat(3, minmax(16vh, auto));
    }

    .home-section-3 > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .home-section-3 > *:nth-child(2) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .home-section-3 > *:nth-child(3) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .home-section-5 {
      height: 80vh;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, minmax(auto-fit, 50%));
    }

    .home-section-5 > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .home-section-5 > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    .home-section-5-btn{
      font-size: 15px
    }

    .footer {
      height: auto;
      padding: 0px 10px;
      -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
      -ms-grid-rows: (40vh)[2];
      grid-template-rows: repeat(2, 40vh);
    }

    .footer > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .footer > *:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }

    /* .footer-menu {
      flex-direction: row;
      justify-content: space-evenly;
    } */

    .footer-sub-div-2 {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    .footer-menu {
      text-align: center;
    }

    .footer-text {
      text-align: center;
    }

    .form-submit-btn {
      font-weight: 500;
      font-size: 15px;
    }
  }

/**/


    .opportunity-owner-form-header{
      height: 100vh;
      /*padding-top: 88px;*/
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }

/*    .width-50 {
        width: 50%
    }*/

    .ml-auto {
        margin-left: auto
    }

    .text-center {
        text-align: center
    }

    

   

    .step-forms {
        height: calc(100vh - 190px);
        display: none;
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
        -webkit-animation: animate 1s;
                animation: animate 1s;
    }

    .step-forms-active {
        display: block;
    }

    .group-inputs {
        margin: 1rem 0;
    }

    @-webkit-keyframes animate {
        from {
            -webkit-transform: scale(1, 0);
                    transform: scale(1, 0);
            opacity: 0
        }

        to {
            -webkit-transform: scale(1, 1);
                    transform: scale(1, 1);
            opacity: 1
        }
    }

    @keyframes animate {
        from {
            -webkit-transform: scale(1, 0);
                    transform: scale(1, 0);
            opacity: 0
        }

        to {
            -webkit-transform: scale(1, 1);
                    transform: scale(1, 1);
            opacity: 1
        }
    }

    .btns-group {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1.5rem 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

    }

    .btn {
        /*padding: 0.75rem;*/
    /*    display: block;
        text-decoration: none;
        background-color: var(--primary-color);
        color: #f3f3f3;
        text-align: center;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: 0.3s*/
    }

    .btn:hover {
        /*box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color)*/
    }


    .btn-custom-owner-submit{
      background-color: var(--primary-btn-bg-color);
      color: var(--primary-btn-color);
    }
    .btn-custom-owner-success{
      background-color: var(--success-btn-success-bg);
      color: var(--primary-btn-color);
    }

    .progress-step-check {
        position: relative;
        color: #1890FF !important;
        background: transparent !important;
        border: 1px solid #1890FF;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s
    }

    .progress-step-check::before {
      position: absolute;
      content: '\2713';
      /* width: 100%; */
      /* height: 100%; */
      /* top: 8px; */
      /* left: 8px; */
      font-size: 16px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

    .group-inputs {
        position: relative
    }

    .group-inputs label {
        font-size: 13px;
        position: absolute;
        height: 19px;
        padding: 4px 7px;
        top: -14px;
        left: 10px;
        color: #a2a2a2;
        background-color: white
    }

    .welcome {
        height: 450px;
        width: 350px;
        background-color: #fff;
        border-radius: 6px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: auto;
    }

    .welcome .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
    }

    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: #7ac142;
        fill: none;
        -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
                animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
    }

    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        -webkit-box-shadow: inset 0px 0px 0px #7ac142;
                box-shadow: inset 0px 0px 0px #7ac142;
        -webkit-animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
                animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
    }

    .checkmark__check {
        -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
                animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
    }

    .form-select{
      color: var(--owner-form-placeholder-color);
    }


    .opp-owner-form-heading, .custom-owner-form-group {
      width: 65%;
    }

    .custom-primary-border-color{
      border-color: var(--primary-accent);
    }

    .opp-owner-form-heading{
      /*margin: 40px 10px;*/
      /*border-bottom-width: 1px;
      border-bottom-style: solid;*/
      padding-bottom: 20px;  
    }

    p.opp-owner-form-heading{
      font-size: 14px;
    }

    .custom-owner-form-group > .col-md-6{
      width: 49%;
      padding: 0px;
      margin: 0px 0.5%;
    }

    @-webkit-keyframes stroke {
        100% {
            stroke-dashoffset: 0
        }
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0
        }
    }

    @-webkit-keyframes scale {

        0%,
        100% {
            -webkit-transform: none;
                    transform: none
        }

        50% {
            -webkit-transform: scale3d(1.1, 1.1, 1);
                    transform: scale3d(1.1, 1.1, 1)
        }
    }

    @keyframes scale {

        0%,
        100% {
            -webkit-transform: none;
                    transform: none
        }

        50% {
            -webkit-transform: scale3d(1.1, 1.1, 1);
                    transform: scale3d(1.1, 1.1, 1)
        }
    }

    @-webkit-keyframes fill {
        100% {
            -webkit-box-shadow: inset 0px 0px 0px 30px #7ac142;
                    box-shadow: inset 0px 0px 0px 30px #7ac142
        }
    }

    @keyframes fill {
        100% {
            -webkit-box-shadow: inset 0px 0px 0px 30px #7ac142;
                    box-shadow: inset 0px 0px 0px 30px #7ac142
        }
    }

    :root {
     
    }

/*    body {
      margin: 0;
      padding: 0;
      background-color: var(--clr-light);
      color: var(--clr-black);
      font-family: 'Poppins', sans-serif;
      font-size: 1.125rem;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }*/

    /* End General Styles */

    /* Upload Area */
    .upload-area {
      width: 100%;
      max-width: 25rem;
      background-color: var(--clr-white);
      margin: 0.625rem;
    }

    .upload-area--open { /* Slid Down Animation */
      -webkit-animation: slidDown 500ms ease-in-out;
              animation: slidDown 500ms ease-in-out;
    }

    @-webkit-keyframes slidDown {
      from {
        height: 28.125rem; /* 450px */
      }

      to {
        height: 35rem; /* 560px */
      }
    }

    @keyframes slidDown {
      from {
        height: 28.125rem; /* 450px */
      }

      to {
        height: 35rem; /* 560px */
      }
    }

    /* Header */
    .upload-area__header {

    }

    .upload-area__title {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0.3125rem;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }

    .upload-area__paragraph {
      font-size: 16px;
      color: var(--clr-light-gray);
      margin-top: 0;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }

    .upload-area__tooltip {
      position: relative;
      color: var(--clr-light-gray);
      cursor: pointer;
      -webkit-transition: color 300ms ease-in-out;
      -o-transition: color 300ms ease-in-out;
      transition: color 300ms ease-in-out;
    }

    .upload-area__tooltip:hover {
      color: var(--clr-blue);
    }

    .upload-area__tooltip-data {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -125%);
          -ms-transform: translate(-50%, -125%);
              transform: translate(-50%, -125%);
      min-width: -webkit-max-content;
      min-width: -moz-max-content;
      min-width: max-content;
      background-color: var(--clr-white);
      color: var(--clr-blue);
      border: 1px solid var(--clr-light-blue);
      padding: 0.625rem 1.25rem;
      font-weight: 500;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: none 300ms ease-in-out;
      -o-transition: none 300ms ease-in-out;
      transition: none 300ms ease-in-out;
      -webkit-transition-property: opacity, visibility;
      -o-transition-property: opacity, visibility;
      transition-property: opacity, visibility;
    }

    .upload-area__tooltip:hover .upload-area__tooltip-data {
      opacity: 1;
      visibility: visible;
    }

    /* Drop Zoon */
    .upload-area__drop-zoon {
      position: relative;
      height: 11.25rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border: 2px dashed var(--clr-light-gray);
      /* border-radius: 15px; */
      margin-top: 0.188rem;
      cursor: pointer;
      -webkit-transition: border-color 300ms ease-in-out;
      -o-transition: border-color 300ms ease-in-out;
      transition: border-color 300ms ease-in-out;
      width: 201px;
      padding: 10px;
    }

    .upload-area__drop-zoon:hover {
      border-color: var(--clr-blue);
    }

    .required-star{
      margin-right: 5px;
      color: var(--required-star-color);
    }

    .drop-zoon__icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 3.75rem;
      color: var(--clr-blue);
      -webkit-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
    }

    .drop-zoon__paragraph {
      font-size: 0.9375rem;
      color: var(--clr-light-gray);
      margin: 0;
      margin-top: 0.625rem;
      -webkit-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      text-align: center;
    }

    .drop-zoon__paragraph > span{
      width: 100%;
    }

    .img-upload-warning{
      width: 100%;
      /*height: 40px;*/
      font-size: 12px;
      line-height: 20px;
      color: #828A96;

    }

    .browse-image-custom-btn{
      color: #30588C;
    }

    .drop-zoon:hover .drop-zoon__icon,
    .drop-zoon:hover .drop-zoon__paragraph {
      opacity: 0.7;
    }

    .drop-zoon__loading-text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: none;
      color: var(--clr-light-blue);
      z-index: 10;
    }

    .drop-zoon__preview-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain;
      padding: 0.3125rem;
      border-radius: 10px;
      display: none;
      z-index: 1000;
      -webkit-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
    }

    .drop-zoon:hover .drop-zoon__preview-image {
      opacity: 0.8;
    }

    .drop-zoon__file-input {
      display: none;
    }

    /* (drop-zoon--over) Modifier Class */
    .drop-zoon--over {
      border-color: var(--clr-blue);
    }

    .drop-zoon--over .drop-zoon__icon,
    .drop-zoon--over .drop-zoon__paragraph {
      opacity: 0.7;
    }

    /* (drop-zoon--over) Modifier Class */
    .drop-zoon--Uploaded {
      
    }

    .drop-zoon--Uploaded .drop-zoon__icon,
    .drop-zoon--Uploaded .drop-zoon__paragraph {
      display: none;
    }

    /* File Details Area */
    .upload-area__file-details {
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: left;
      -webkit-transition: none 500ms ease-in-out;
      -o-transition: none 500ms ease-in-out;
      transition: none 500ms ease-in-out;
      -webkit-transition-property: opacity, visibility;
      -o-transition-property: opacity, visibility;
      transition-property: opacity, visibility;
      -webkit-transition-delay: 500ms;
           -o-transition-delay: 500ms;
              transition-delay: 500ms;
    }

    /* (duploaded-file--open) Modifier Class */
    .file-details--open {
      height: auto;
      visibility: visible;
      opacity: 1;
    }

    .file-details__title {
      font-size: 1.125rem;
      font-weight: 500;
      color: var(--clr-light-gray);
    }

    /* Uploaded File */
    .uploaded-file {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.625rem 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: none 500ms ease-in-out;
      -o-transition: none 500ms ease-in-out;
      transition: none 500ms ease-in-out;
      -webkit-transition-property: visibility, opacity;
      -o-transition-property: visibility, opacity;
      transition-property: visibility, opacity;
    }

    /* (duploaded-file--open) Modifier Class */
    .uploaded-file--open {
      visibility: visible;
      opacity: 1;
    }

    .uploaded-file__icon-container {
      position: relative;
      margin-right: 0.3125rem;
    }

    .uploaded-file__icon {
      font-size: 3.4375rem;
      color: var(--clr-blue);
    }

    .uploaded-file__icon-text {
      position: absolute;
      top: 1.5625rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: 0.9375rem;
      font-weight: 500;
      color: var(--clr-white);
    }

    .uploaded-file__info {
      position: relative;
      top: -0.3125rem;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    .uploaded-file__info::before,
    .uploaded-file__info::after {
      content: '';
      position: absolute;
      bottom: -0.9375rem;
      width: 0;
      height: 0.5rem;
      background-color: #ebf2ff;
      border-radius: 0.625rem;
    }

    .uploaded-file__info::before {
      width: 100%;
    }

    .uploaded-file__info::after {
      width: 100%;
      background-color: var(--clr-blue);
    }

    /* Progress Animation */
    .uploaded-file__info--active::after {
      -webkit-animation: progressMove 800ms ease-in-out;
              animation: progressMove 800ms ease-in-out;
      -webkit-animation-delay: 300ms;
              animation-delay: 300ms;
    }

    @-webkit-keyframes progressMove {
      from {
        width: 0%;
        background-color: transparent;
      }

      to {
        width: 100%;
        background-color: var(--clr-blue);
      }
    }

    @keyframes progressMove {
      from {
        width: 0%;
        background-color: transparent;
      }

      to {
        width: 100%;
        background-color: var(--clr-blue);
      }
    }

    .uploaded-file__name {
      width: 100%;
      max-width: 6.25rem; /* 100px */
      display: inline-block;
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
    }

    .uploaded-file__counter {
      font-size: 1rem;
      color: var(--clr-light-gray);
    }

    @media screen and (max-width:857px) {
      .header{
        height: 100vh;
      }
    }
    @media screen and (max-width:767px) {
     /* html{
        font-size: 100%;
      }

*/

      .navbar-container *{
        font-size: 50%;
      }
    }
    @media screen and (max-width:657px) {
      .form {
        margin: 60px auto 0px;
        padding: 20px 0px;
      }

      .progressbar {
        margin: 1rem 0 3rem;
      }

      .progress-step::after {
        content: attr(data-title);
        position: absolute;
        top: calc(100% + 0.5rem);
        font-size: 0.85rem;
        color: #666;
        left: 0%;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        background: white;
        width: 70px;
        height: 20px;
         -webkit-box-pack: start;
             -ms-flex-pack: start;
                 justify-content: flex-start; 
        -webkit-box-align: center; 
            -ms-flex-align: center; 
                align-items: center;
      }
    }


/*Login*/

.right-login-section {
  width: 282.84px;
  height: 282.84px;
  background: #E1EAF5;
  -webkit-transform: translateX(-1%) rotate(-45deg);
      -ms-transform: translateX(-1%) rotate(-45deg);
          transform: translateX(-1%) rotate(-45deg);
    -webkit-box-shadow: 25px 25px 0px 0px RGB(225, 234, 245, 0.2);
          box-shadow: 25px 25px 0px 0px RGB(225, 234, 245, 0.2);
}

.login-form-primary-color{
  color: var(--login-form-text-color);
}
.login-form-primary-btn{
  color: var(--primary-btn-color);
  background-color: var(--primary-btn-bg-color);
}
.login-form-primary-btn-outline{
  border: 1px solid var(--primary-btn-bg-color);
}

.form-control:hover,.form-control:focus {
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; 
  border-left: 5px solid var(--login-form-text-color);
}

@media screen and (max-width: 991px){
  .login-form-custom-btn-group{
    text-align: center;
  }
  .login-form-check-btn-group{
    text-align: center;
  }
}
@media screen and (max-width: 637px){
  .login-form-heading{
    text-align: center;
  }
}

/*Login Ends*/

/*Registration screen*/

  .intl-tel-input {
    display: table-cell !important;
  }
  .intl-tel-input .selected-flag {
    z-index: 4 !important;
  }
  .intl-tel-input .country-list {
    z-index: 5 !important;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 0 !important;
  }

  .custom-telephone-label{
    display: block i !important;
  }

  .iti {
    display: block !important;
  }

  .iti__selected-dial-code{
    color: rgb(137, 144, 151) !important;
  }

/*Registration screen ends