/*common styles*/
  :root {
    --primary-accent: #3c64b1;
    --light-gray-1: #f4f6fb;
    --light-black-1: #373F41;
    --navbar-bg-1: #E8EDF6;
    --clr-white: #FFFFFF;
    --white-D-shade: #DEE5F3;
    --clr-light-gray-1: #737B7D;
    --owner-form-placeholder-color: #6c757d;
    --success-btn-success-bg: rgb(122, 193, 66);
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
    --clr-light: rgb(245, 248, 255);
    --clr-light-gray: rgb(196, 195, 196);
    --clr-blue: rgb(63, 134, 255);
    --clr-light-blue: rgb(171, 202, 255);
    --required-star-color: rgb(255, 69, 0);
    --login-form-text-color: #3C64B1;
    --white-F-shade: #F3F6FA;
  }

  html {
    /*font-size: 62.5%;*/
  /*  font-family: 'Inter';*/
    scrollbar-color: var(--clr-light-blue) var(--clr-blue);
    scrollbar-width: none;
    -webkit-scrollbar-color: var(--clr-light-blue) var(--clr-blue);
    -webkit-scrollbar-width: none;
  }

  * {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  body {
    font-family: 'Inter';
    /*width: 100%;*/
    min-height: 100vh;
  }



  .htv-100{
    height: 100vh;
  }


  .ht-5p{
    height: 5% !important;
  } 

  .ht-10p{
    height: 10% !important;
  }
  .ht-15p{
    height: 15% !important;
  }
  .ht-20p{
    height: 20% !important;
  }
  .ht-30p{
    height: 30% !important;
  }
  .ht-40p{
    height: 40% !important;
  }
  .ht-60p{
    height: 60% !important;
  }
  .ht-70p{
    height: 70% !important;
  }
  .ht-75p{
    height: 75% !important;
  }
  .ht-80p{
    height: 80% !important;
  }
  .ht-90p{
    height: 90% !important;
  }

  .w-5p{
    width: 5% !important;
  } 

  .w-10p{
    width: 10% !important;
  }
  .w-15p{
    width: 15% !important;
  }
  .w-20p{
    width: 20% !important;
  }
  .w-30p{
    width: 30% !important;
  }
  .w-40p{
    width: 40% !important;
  }
  .w-60p{
    width: 60% !important;
  }
  .w-70p{
    width: 70% !important;
  }
  .w-75p{
    width: 75% !important;
  }
  .w-80p{
    width: 80% !important;
  }
  .w-90p{
    width: 90% !important;
  }

  .optgroup{
    font-size: 14px !important;
  }
  .fs-14{
    font-size: 14px !important;
  }
  .fs-24{
    font-size: 24px !important;
  }
  
  .fs-18{
    font-size: 18px !important;
  }
  
  .fs-30{
    font-size: 30px !important;
  }
  
  .fs-32{
    font-size: 32px !important;
  }
  .fs-36{
    font-size: 36px !important;
  }
  .fs-44{
    font-size: 44px !important;
  }

  .fw-500{
    font-weight: 500 !important;
  }
  .fw-600{
    font-weight: 600 !important;
  }

  .mht-50{
    min-height: 50px !important;
  }

  .text-primary-custom{
    color: var(--primary-accent) !important;
  }

  .btn-outline-primary-custom{
    background-color: transparent !important;
    color: var(--primary-accent) !important;
    border-color: 1px solid var(--primary-accent);
    padding: 5px 40px;
  }

  .btn-primary-custom{
    background-color: var(--primary-accent) !important;
    color: var(--clr-white) !important;
    padding: 5px 40px;
  }
  .bg-navbar-1{
    background-color: var(--navbar-bg-1) !important;
  }

  .bg-light-gray-1{
    background-color: var(--light-gray-1) !important;
  }
  .white-F-shade{
    background-color: var(--white-F-shade) !important;
  }

  .bg-white-D-shade{
    background-color: var(--white-D-shade) !important;
  }

  .clr-light-gray-1{
    color: var(--clr-light-gray-1) !important;
  }
  .clr-light-black-1{
    color: var(--clr-light-black-1) !important;
  }

  .border-light-gray-1{
    border: 1px solid #CED2D2 !important;
  }


  .border-light-gray-1:focus,.border-light-gray-1:hover{
    border: 1px solid #828989 !important;

  }

  .form-control-lg,.form-select-lg {
    padding-top: 0.75rem !important;
    padding-bottom: .75rem !important;
    font-size: 14px !important;
  }

  .form-control:hover,.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none !important;
            box-shadow: none !important; 
    border-left: 5px solid var(--login-form-text-color);
  }


  .min-vh-100{
    min-height: 100vh;
  }

  
  .sns-left-menu-plus{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 21px;
    top: 118px;
    background: #aab0bb;
    color: #162c99;
    z-index: +1;
    border-radius: 50%;
    /*font-weight: 300;*/
    -webkit-text-stroke: 2px #aab0bb;
    font-size: 20px;
    cursor: pointer;
  }

  .sns-right-menu-plus{

    cursor: pointer;
    font-size: 20px;
    position: fixed;
    font-weight: 300;
    border-radius: 50%;
    z-index: +9;
    width: 40px;
    height: 40px;
    right: 21px;
    top: 118px;
    background: #aab0bb;
    color: #162c99;
    -webkit-text-stroke: 2px #aab0bb;
  }



  @media screen and (max-width: 991px){
    .navbar-collapse{
      display: flex;
      justify-content: center;
    }
  }


/*Login Screen Starts*/
.right-login-section {
  width: 282.84px;
  height: 282.84px;
  background: #E1EAF5;
  -webkit-transform: translateX(-1%) rotate(-45deg);
      -ms-transform: translateX(-1%) rotate(-45deg);
          transform: translateX(-1%) rotate(-45deg);
    -webkit-box-shadow: 25px 25px 0px 0px RGB(225, 234, 245, 0.5);
          box-shadow: 25px 25px 0px 0px RGB(225, 234, 245, 0.5);
}
/*Login Screen Ends*/

/*Registration screen*/

  .intl-tel-input {
    display: table-cell !important;
  }
  .intl-tel-input .selected-flag {
    z-index: 4 !important;
  }
  .intl-tel-input .country-list {
    z-index: 5 !important;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 0 !important;
  }

  .custom-telephone-label{
    display: block i !important;
  }

  .iti {
    display: block !important;
  }

  .iti__selected-dial-code{
    color: rgb(137, 144, 151) !important;
  }

/*Registration screen ends*/  

/*opportunity Owner Content Form Starts*/
        .opportunity-owner-form-header{
          height: 100vh;
          padding-top: 20px;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
        }

    /*    .width-50 {
            width: 50%
        }*/

        .ml-auto {
            margin-left: auto
        }

        .text-center {
            text-align: center
        }

        .progressbar {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            counter-reset: step;
            margin: 1rem 0;
            width: 92%;

        }

        .progressbar::before,
        .progress {
            content: "";
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
            height: 2px;
            width: 0%;
            background-color: #dcdcdc;
            z-index: 1
        }

        .progress {
            background: rgb(97, 188, 252);
            width: 0%;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s
        }

        .progress-step {
            width: 2.1875rem;
            height: 2.1875rem;
            background-color: #dcdcdc;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            z-index: 1;
            position: relative;
        }

        .progress-step::before {
            counter-increment: step;
            content: counter(step)
        }

        .progress-step::after {
          content: attr(data-title);
          position: absolute;
          /* top: calc(100% + 0.5rem); */
          font-size: 16px;
          color: #666;
          left: 100%;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          background: white;
          min-width: 100px;
          height: 20px;
          /*justify-content: center;*/
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-left: 5px;
        }

        .progress-step-active {
            background: #1890FF;
            color: #f3f3f3
        }

        .form {
            width: 80%;
            height: auto;
            margin: 0px auto;
            border: none;
            border-radius: 10px !important;
            /*overflow-x: hidden;
            overflow-y: visible;*/
            padding: 1.5rem;
            background-color: #fff;
            padding: 20px 30px
        }

        .step-forms {
            display: none;
            -webkit-transform-origin: top;
                -ms-transform-origin: top;
                    transform-origin: top;
            -webkit-animation: animate 1s;
                    animation: animate 1s
        }

        .step-forms-active {
            display: block
        }

        .group-inputs {
            margin: 1rem 0
        }

        @-webkit-keyframes animate {
            from {
                -webkit-transform: scale(1, 0);
                        transform: scale(1, 0);
                opacity: 0
            }

            to {
                -webkit-transform: scale(1, 1);
                        transform: scale(1, 1);
                opacity: 1
            }
        }

        @keyframes animate {
            from {
                -webkit-transform: scale(1, 0);
                        transform: scale(1, 0);
                opacity: 0
            }

            to {
                -webkit-transform: scale(1, 1);
                        transform: scale(1, 1);
                opacity: 1
            }
        }

        .btns-group {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 1.5rem 1fr;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;

        }

        .btn {
            /*padding: 0.75rem;*/
        /*    display: block;
            text-decoration: none;
            background-color: var(--primary-color);
            color: #f3f3f3;
            text-align: center;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: 0.3s*/
        }

        .btn:hover {
            /*box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color)*/
        }

        .btn-custom-owner-success{
          background-color: var(--success-btn-success-bg);
          color: var(--primary-btn-color);
        }

        .progress-step-check {
            position: relative;
            background: #1890FF !important;
            -webkit-transition: all 0.8s;
            -o-transition: all 0.8s;
            transition: all 0.8s
        }

        .progress-step-check::before {
          position: absolute;
          content: '\2713';
          /* width: 100%; */
          /* height: 100%; */
          /* top: 8px; */
          /* left: 8px; */
          font-size: 16px;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }

        .group-inputs {
            position: relative
        }

        .group-inputs label {
            font-size: 13px;
            position: absolute;
            height: 19px;
            padding: 4px 7px;
            top: -14px;
            left: 10px;
            color: #a2a2a2;
            background-color: white
        }

        .welcome {
            height: 450px;
            width: 350px;
            background-color: #fff;
            border-radius: 6px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: auto;
        }

        .welcome .content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column
        }

        .checkmark__circle {
            stroke-dasharray: 166;
            stroke-dashoffset: 166;
            stroke-width: 2;
            stroke-miterlimit: 10;
            stroke: #7ac142;
            fill: none;
            -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
                    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
        }

        .checkmark {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: block;
            stroke-width: 2;
            stroke: #fff;
            stroke-miterlimit: 10;
            margin: 10% auto;
            -webkit-box-shadow: inset 0px 0px 0px #7ac142;
                    box-shadow: inset 0px 0px 0px #7ac142;
            -webkit-animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
                    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
        }

        .checkmark__check {
            -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
            stroke-dasharray: 48;
            stroke-dashoffset: 48;
            -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
                    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
        }

        .form-select{
          color: var(--owner-form-placeholder-color);
        }



        .opp-owner-form-heading,.custom-owner-form-group{
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }

        p.opp-owner-form-heading{
          font-size: 14px;
        }

        .custom-owner-form-group > .col-md-6{
          width: 49%;
          padding: 0px;
          margin: 0px 0.5%;
        }

        @-webkit-keyframes stroke {
            100% {
                stroke-dashoffset: 0
            }
        }

        @keyframes stroke {
            100% {
                stroke-dashoffset: 0
            }
        }

        @-webkit-keyframes scale {

            0%,
            100% {
                -webkit-transform: none;
                        transform: none
            }

            50% {
                -webkit-transform: scale3d(1.1, 1.1, 1);
                        transform: scale3d(1.1, 1.1, 1)
            }
        }

        @keyframes scale {

            0%,
            100% {
                -webkit-transform: none;
                        transform: none
            }

            50% {
                -webkit-transform: scale3d(1.1, 1.1, 1);
                        transform: scale3d(1.1, 1.1, 1)
            }
        }

        @-webkit-keyframes fill {
            100% {
                -webkit-box-shadow: inset 0px 0px 0px 30px #7ac142;
                        box-shadow: inset 0px 0px 0px 30px #7ac142
            }
        }

        @keyframes fill {
            100% {
                -webkit-box-shadow: inset 0px 0px 0px 30px #7ac142;
                        box-shadow: inset 0px 0px 0px 30px #7ac142
            }
        }


      /*pawan custom upload file*/  


        /*********** File Upload ******************************/
        .selectBtn{
            border: solid 1px #999;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;
          }
          #drop_file_zone {
          background-color: #EEE;
          border: #999 5px dashed;
          width: 290px;
          height: 200px;
          padding: 8% 8px;
          font-size: 18px;
          margin-left: 25%;
          }
          #drag_upload_file {
          width:50%;
          margin:0 auto;
          }
          #drag_upload_file p {
          text-align: center;
          }
          #drag_upload_file #selectfile {
          display: none;
          }
          
          
          #dragandrophandler
          {
          border:2px dotted #0B85A1;
          width:400px;
          color:#92AAB0;
          text-align:left;vertical-align:middle;
          padding:10px 10px 10 10px;
          margin-bottom:10px;
          font-size:200%;
          }
          .progressBar {
            width: 200px;
            height: 22px;
            border: 1px solid #ddd;
            border-radius: 5px; 
            overflow: hidden;
            display:inline-block;
            margin:0px 10px 5px 5px;
            vertical-align:top;
          }
          
          .progressBar div {
            height: 100%;
            color: #fff;
            text-align: right;
            line-height: 22px; /* same as #progressBar height if we want text middle aligned */
            width: 0;
            background-color: #0ba1b5; border-radius: 3px; 
          }
          .statusbar
          {
            border-top:1px solid #A9CCD1;
            min-height:25px;
            padding:10px 10px 0px 10px;
            vertical-align:top;
          }
          .statusbar:nth-child(odd){
            background:#EBEFF0;
          }
          .filename
          {
          display:inline-block;
          vertical-align:top;
          width:250px;
          }
          .filesize
          {
          display:inline-block;
          vertical-align:top;
          color:#30693D;
          width:100px;
          margin-left:10px;
          margin-right:5px;
          }
          .abort{
            background-color:#A8352F;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            border-radius:4px;display:inline-block;
            color:#fff;
            font-family:arial;font-size:13px;font-weight:normal;
            padding:4px 15px;
            cursor:pointer;
            vertical-align:top
            }
          
          
            
      /*pawan custom upload file ends*/  
     

      /* Upload Area */
      .upload-area {
        width: 100%;
        max-width: 25rem;
        background-color: var(--clr-white);
        margin: 0.625rem;
      }

      .upload-area--open { /* Slid Down Animation */
        -webkit-animation: slidDown 500ms ease-in-out;
                animation: slidDown 500ms ease-in-out;
      }

      @-webkit-keyframes slidDown {
        from {
          height: 28.125rem; /* 450px */
        }

        to {
          height: 35rem; /* 560px */
        }
      }

      @keyframes slidDown {
        from {
          height: 28.125rem; /* 450px */
        }

        to {
          height: 35rem; /* 560px */
        }
      }

      /* Header */
      .upload-area__header {

      }

      .upload-area__title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0.3125rem;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
      }

      .upload-area__paragraph {
        font-size: 16px;
        color: var(--clr-light-gray);
        margin-top: 0;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
      }

      .upload-area__tooltip {
        position: relative;
        color: var(--clr-light-gray);
        cursor: pointer;
        -webkit-transition: color 300ms ease-in-out;
        -o-transition: color 300ms ease-in-out;
        transition: color 300ms ease-in-out;
      }

      .upload-area__tooltip:hover {
        color: var(--clr-blue);
      }

      .upload-area__tooltip-data {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -125%);
            -ms-transform: translate(-50%, -125%);
                transform: translate(-50%, -125%);
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;
        background-color: var(--clr-white);
        color: var(--clr-blue);
        border: 1px solid var(--clr-light-blue);
        padding: 0.625rem 1.25rem;
        font-weight: 500;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: none 300ms ease-in-out;
        -o-transition: none 300ms ease-in-out;
        transition: none 300ms ease-in-out;
        -webkit-transition-property: opacity, visibility;
        -o-transition-property: opacity, visibility;
        transition-property: opacity, visibility;
      }

      .upload-area__tooltip:hover .upload-area__tooltip-data {
        opacity: 1;
        visibility: visible;
      }

      /* Drop Zoon */
      .upload-area__drop-zoon {
        position: relative;
        height: 11.25rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        border: 2px dashed var(--clr-light-gray);
        /* border-radius: 15px; */
        margin-top: 0.188rem;
        cursor: pointer;
        -webkit-transition: border-color 300ms ease-in-out;
        -o-transition: border-color 300ms ease-in-out;
        transition: border-color 300ms ease-in-out;
        width: 201px;
        padding: 10px;
      }

      .upload-area__drop-zoon:hover {
        border-color: var(--clr-blue);
      }

      .required-star{
        margin-right: 5px;
        color: var(--required-star-color);
      }

      .drop-zoon__icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 3.75rem;
        color: var(--clr-blue);
        -webkit-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
      }

      .drop-zoon__paragraph {
        font-size: 0.9375rem;
        color: var(--clr-light-gray);
        margin: 0;
        margin-top: 0.625rem;
        -webkit-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        text-align: center;
      }

      .drop-zoon__paragraph > span{
        width: 100%;
      }

      .img-upload-warning{
        width: 100%;
        /*height: 40px;*/
        font-size: 12px;
        line-height: 20px;
        color: #828A96;

      }

      .browse-image-custom-btn{
        color: #30588C;
      }

      .drop-zoon:hover .drop-zoon__icon,
      .drop-zoon:hover .drop-zoon__paragraph {
        opacity: 0.7;
      }

      .drop-zoon__loading-text {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        display: none;
        color: var(--clr-light-blue);
        z-index: 10;
      }

      .drop-zoon__preview-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        padding: 0.3125rem;
        border-radius: 10px;
        display: none;
        z-index: 1000;
        -webkit-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
      }

      .drop-zoon:hover .drop-zoon__preview-image {
        opacity: 0.8;
      }

      .drop-zoon__file-input {
        display: none;
      }

      /* (drop-zoon--over) Modifier Class */
      .drop-zoon--over {
        border-color: var(--clr-blue);
      }

      .drop-zoon--over .drop-zoon__icon,
      .drop-zoon--over .drop-zoon__paragraph {
        opacity: 0.7;
      }

      /* (drop-zoon--over) Modifier Class */
      .drop-zoon--Uploaded {
        
      }

      .drop-zoon--Uploaded .drop-zoon__icon,
      .drop-zoon--Uploaded .drop-zoon__paragraph {
        display: none;
      }

      /* File Details Area */
      .upload-area__file-details {
        height: 0;
        visibility: hidden;
        opacity: 0;
        text-align: left;
        -webkit-transition: none 500ms ease-in-out;
        -o-transition: none 500ms ease-in-out;
        transition: none 500ms ease-in-out;
        -webkit-transition-property: opacity, visibility;
        -o-transition-property: opacity, visibility;
        transition-property: opacity, visibility;
        -webkit-transition-delay: 500ms;
             -o-transition-delay: 500ms;
                transition-delay: 500ms;
      }

      /* (duploaded-file--open) Modifier Class */
      .file-details--open {
        height: auto;
        visibility: visible;
        opacity: 1;
      }

      .file-details__title {
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--clr-light-gray);
      }

      /* Uploaded File */
      .uploaded-file {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0.625rem 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: none 500ms ease-in-out;
        -o-transition: none 500ms ease-in-out;
        transition: none 500ms ease-in-out;
        -webkit-transition-property: visibility, opacity;
        -o-transition-property: visibility, opacity;
        transition-property: visibility, opacity;
      }

      /* (duploaded-file--open) Modifier Class */
      .uploaded-file--open {
        visibility: visible;
        opacity: 1;
      }

      .uploaded-file__icon-container {
        position: relative;
        margin-right: 0.3125rem;
      }

      .uploaded-file__icon {
        font-size: 3.4375rem;
        color: var(--clr-blue);
      }

      .uploaded-file__icon-text {
        position: absolute;
        top: 1.5625rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        font-size: 0.9375rem;
        font-weight: 500;
        color: var(--clr-white);
      }

      .uploaded-file__info {
        position: relative;
        top: -0.3125rem;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
      }

      .uploaded-file__info::before,
      .uploaded-file__info::after {
        content: '';
        position: absolute;
        bottom: -0.9375rem;
        width: 0;
        height: 0.5rem;
        background-color: #ebf2ff;
        border-radius: 0.625rem;
      }

      .uploaded-file__info::before {
        width: 100%;
      }

      .uploaded-file__info::after {
        width: 100%;
        background-color: var(--clr-blue);
      }

      /* Progress Animation */
      .uploaded-file__info--active::after {
        -webkit-animation: progressMove 800ms ease-in-out;
                animation: progressMove 800ms ease-in-out;
        -webkit-animation-delay: 300ms;
                animation-delay: 300ms;
      }

      @-webkit-keyframes progressMove {
        from {
          width: 0%;
          background-color: transparent;
        }

        to {
          width: 100%;
          background-color: var(--clr-blue);
        }
      }

      @keyframes progressMove {
        from {
          width: 0%;
          background-color: transparent;
        }

        to {
          width: 100%;
          background-color: var(--clr-blue);
        }
      }

      .uploaded-file__name {
        width: 100%;
        max-width: 6.25rem; /* 100px */
        display: inline-block;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
      }

      .uploaded-file__counter {
        font-size: 1rem;
        color: var(--clr-light-gray);
      }

      @media screen and (max-width:857px) {
        .header{
          height: 100vh;
        }
      }
      @media screen and (max-width:767px) {
       /* html{
          font-size: 100%;
        }

  */

        .navbar-container *{
          font-size: 50%;
        }
      }
      @media screen and (max-width:657px) {
        .form {
          margin: 60px auto 0px;
          padding: 20px 0px;
        }

        .progressbar {
          margin: 1rem 0 3rem;
        }

        .progress-step::after {
          content: attr(data-title);
          position: absolute;
          top: calc(100% + 0.5rem);
          font-size: 0.85rem;
          color: #666;
          left: 0%;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          background: white;
          width: 70px;
          height: 20px;
           -webkit-box-pack: start;
               -ms-flex-pack: start;
                   justify-content: flex-start; 
          -webkit-box-align: center; 
              -ms-flex-align: center; 
                  align-items: center;
        }
      }
/*opportunity Owner Content Form Starts Ends